[2018-09-05 11:14] jancborchardt opened #1 "First steps"
There’s a mockup for how the Social app could look in the repository:
![](https://raw.githubusercontent.com/nextcloud-gmbh/social/master/img/screenshot.png?token=AA4dhm0IlTxbCH39ugWs9QZhbF044tFkks5bmPKdwA%3D%3D)

- I put the first part in the repository, based on the [vue example app](https://github.com/skjnldsv/vueexample), it already has the default navigation
- @daita you are focusing on how to

[2018-09-25 08:07] ArtificialOwl opened #3 "public pages ?"
For federation, do we need public pages, that returns information about

- an account,
- following/followers
- public post

If so, we would need some design.

[2018-09-25 08:09] daita opened #4 "Federation"
How to manage federation ?

- Admin add federated instance of Nextcloud to a list
- every one can federated and share
- both with option

[2018-09-25 08:12] ArtificialOwl opened #5 "Name of a 'post' ?"
Mastodon define the 'Note' as _toot_
I used _mood_ in mood

How should we name them in Social ?

[2018-10-01 12:19] ArtificialOwl opened #7 "frontend UX"
We need to start some editing on the frontend:

- On user's first use of the Social app, we need an empty screen that ask for a username (no space and let's start with only numeric/alpha chars). Example if my username is **maxence** my ActivityPub handle will be **@maxence@cloud.example.com**

- Once the username defined, we need to add a way to post something from the UI, also to display posts (p

[2018-10-10 11:10] juliusknorr opened #10 "Post composition"
When writing a post users should be able to:

- **Mention others social ids with autocompletion**
- Insert an emoji using a picker
- Upload a file
- Attach a file from Nextcloud

Rendered posts should highlight/render:

- **Link user mentions to the account page**
- **Link URLs**
- Display images that were added as URL in the post
- Highlight hashtags and link them to a search?

Bold ones are mand

[2018-10-11 07:48] rullzer opened #11 "Use migrations for database"
`database.xml` is old. Use migration and be one of the :sunglasses: cool kids

[2018-10-11 08:16] rullzer opened #12 "What is up with autoload.php?"
Is there a reason we have this strange autoload.php file?

With proper namespacing our autoloader should be able to handle that all just fine.

[2018-10-11 13:32] #12 closed, assigned to nobody

[2018-10-26 09:09] juliusknorr opened #13 "Change dependency to release version of nextcloud-vue"
Once https://github.com/nextcloud/vue-components/pull/64 is released

[2018-10-26 09:48] juliusknorr opened #15 "Protect the master branch"
to avoid accidential pushes :wink:

[2018-10-26 10:27] #15 closed, assigned to nobody

[2018-11-12 20:44] #5 closed, assigned to nobody

[2018-11-12 20:45] #7 closed, assigned to nobody

[2018-11-12 20:46] #3 closed, assigned to nobody

[2018-11-12 20:51] #13 closed, assigned to nobody

[2018-11-13 14:35] juliusknorr opened #22 "Add avatar to actors"
Actors should have an icon field set containing the url to the avatar.

[2018-11-14 15:14] juliusknorr opened #27 "Exception on creating the actor"
@daita

[code]

[2018-11-15 10:05] juliusknorr opened #28 "Current restrictions due to hardcoded url in database"
- [ ] Creating the account is using `overwrite.cli.url`, we probably should just use the domain the user is currently using when browsing the social app for the first time
- [ ] The app requires the webserver to be configured to work without index.php. Those should be set dynamically depending on the configuration

@daita Don't we have any possibility to just keep the domain out of the database an

[2018-11-16 08:46] #28 closed, assigned to nobody

[2018-11-16 12:00] juliusknorr opened #34 "Sidebar sections"
Edit @jancborchardt summing up the entries we want:

- [x] **🏠 Home:** Only accounts you follow, including notifications (!), and including your own posts too
- [ ] **🔔 Notifications:** @mentions, new followers, people liking or reposting your posts or things you were mentioned in, you being tagged in pictures etc. ("Activity" as word for this is easy to misunderstand as it’s less specific)
- [x]

[2018-11-19 10:40] juliushaertl opened #36 "Account locking (follow after approval)"
Right now, the confirmation of a new follower is automatic, an option should be added for an account to 'lock' the account, meaning a manual confirmation needs to be perfomed when someone wants to follow you.

[2018-11-19 17:42] jancborchardt opened #38 "Blocking"
To combat harrassment or generally ignoring certain accounts, we should allow people to block other accounts.

This would then result in them not being visible at all. No posts, no reposts, not in search, not in the activities/mentions, not in hashtag lists, etc.

[2018-11-19 22:37] #27 closed, assigned to nobody

[2018-11-20 15:01] jancborchardt opened #41 "Reporting & muting"
Similar to #38 (blocking), we need to think about having a report functionality like all big social network platforms have, and how to handle it considering the decentralized nature of the network. This would be for spam, hate speech, harrassment and the like.

Here is documentation on how Mastodon does it: https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/User-guide.md#reporti

[2018-11-21 14:10] juliusknorr opened #46 "Issues when creating a new post"
@daita Can you have a look at this:

- When adding a invalid @ mention i get aOCA\Social\Exceptions\InvalidResourceException in lib/Service/ActivityPub/PersonService.php:166
We should not fail hard if the user enters a social id that doesn't exist
Data sent: `{"data":{"content":"@jus@mastodon.social Test Foo @abc1","to":["jus@mastodon.social","abc1"],"type":"public"}}`

- After creating a note a N

[2018-11-21 17:29] juliusknorr opened #47 "Improvements for privacy controls"
From #18

- Currently seems not specifically sorted? Just like we do for the privacy controls in the personal settings, we should sort this by most private first to most public last:
![privacy settings email etc](https://user-images.githubusercontent.com/925062/48846506-93cbf380-ed9f-11e8-8f1c-6d549db97347.png)
It seems though that there’s not really a continuum there? Like the mentioned users don

[2018-11-21 20:09] #10 closed, assigned to nobody

[2018-11-22 02:37] ArtificialOwl opened #49 "Issue with the @accounts in post"
Tested on firefox

- [ ] search should only be made with an _at-least-one-char_ length string.
- [ ] When writing a post, as I search for an account it displays the account in the box. Once validated only the written part of the name of the account is available in the post.
- [ ] The post is sent when selecting the type of the post (public/direct/...)

[2018-11-22 04:40] #46 closed, assigned to ArtificialOwl

[2018-11-26 12:39] daita opened #54 "TODO first alpha 0.1 🥚"
See 0.1 🥚 milestone at https://github.com/nextcloud-gmbh/social/milestone/1

Technical debt to sort out before alpha release:
- [x] ~Prune node modules from history for quick cloning~: https://github.com/nextcloud-gmbh/social/issues/65 (@juliushaertl)
- [x] Use migrations for database https://github.com/nextcloud-gmbh/social/issues/11
- [x] Using sqlite is broken #55

Bugs & features:
- [ ] Securi

[2018-11-26 13:15] juliushaertl opened #55 "Using sqlite is broken"
[code]

@daita **General error: 1 RIGHT and FULL OUTER JOINs are not currently supported**

[2018-11-26 13:34] #49 closed, assigned to juliusknorr

[2018-11-28 10:40] juliusknorr opened #60 "Summary field length is probably to short"
@daita Maybe we shouldn't limit this, unfortunately i couldn't find any standard specs about the summary.

[code]

[2018-11-28 11:43] jancborchardt opened #65 "Prune node_modules folder from history"
Currently the repository is already quite large (31.2 MB) which is largely because we used to have the node_modules folder committed. We should prune it completely from history.

As discussed @juliushaertl @daita

[2018-11-28 13:58] juliusknorr opened #68 "Get information about following/followers"
To properly allow following/follower listing and adding a follow button to the frontend we will need:
- [x] An indicator field if the current user is following an actor on the actor results (search/info)
- [x] An endpoint to fetch the list of all actors that follow/are followed by a given account

[2018-11-28 14:01] #60 closed, assigned to nobody

[2018-11-28 21:01] juliusknorr opened #71 "Local actors not added to the cache"
Steps to reproduce:
1. Create a new user
2. Login as that user
3. Open the social app

@daita Maybe we should try to avoid not null constraints for entries where it isn't really important to have a value?

[code]

[2018-11-29 09:32] juliusknorr opened #74 "Mastodon links to url without index.php even if it is configured properly in the cloud address"
My cloud address config is set to the following:

https://local.dev.bitgrid.net/index.php

But on Mastodon the account links to

https://local.dev.bitgrid.net/apps/social/@admin which doesn't exist since the URL rewriting isn't setup on this server.

[2018-11-29 11:15] juliusknorr opened #75 "Add checks for server setup"
To properly communicate with other ActivityPub servers, we need to check if the following settings are properly setup:

- [x] A proper server address is set
- [ ] Rewrite with htaccess (is .well-known/webfinger reachable)

@daita Feel free to add to the list, if i miss something.

[2018-11-29 13:46] ArtificialOwl opened #77 "partial completion"
if I write @account@example.com and want to edit in the middle, to switch to @example.com like @cloud.example.com the frontend will search for @account@clou*

The frontend only search on chars from the left of the cursor even if there is more on the right

[2018-11-29 14:16] juliusknorr opened #80 "[Discussion] Account ids are broken if a email is used as username"
Nextcloud users can have an email as a valid username. With that activitypub will have issues since `@username@emaildomain@socialdomain.com` is not a valid account.

[2018-11-29 15:28] #74 closed, assigned to nobody

[2018-11-29 23:25] #71 closed, assigned to nobody

[2018-11-30 09:01] juliusknorr opened #84 "Add posts of user on the profile page"
On profile pages we should have a stream of all the posts of the account, that the current user / or guest can see.

[2018-11-30 09:38] #1 closed, assigned to nobody

[2018-11-30 09:39] #47 closed, assigned to nobody

[2018-11-30 09:43] #34 closed, assigned to nobody

[2018-11-30 09:44] juliushaertl opened #85 "Add notifications stream"
From #34

- [ ] **🔔 Notifications:** @mentions, new followers, people liking or reposting your posts or things you were mentioned in, you being tagged in pictures etc. ("Activity" as word for this is easy to misunderstand as it’s less specific)

[2018-12-01 12:00] jancborchardt opened #87 "Shortcut in user menu to follow on Social"
Just like we have shortcuts to mail a person and Talk to a person via the user menu when you click on their name/avatar, we should have something like "Follow on Social":
![follow on social](https://user-images.githubusercontent.com/925062/49327970-ce384c00-f568-11e8-86f8-61db1ef7dc5f.png)
Same for the Contacts menu in the header where the actions are listed too. Once you follow a person, it could

[2018-12-02 09:00] juliusknorr opened #88 "Fetch existing posts from remote accounts"
Right now, when following a remote account, messages from the past will not appear in the stream. We somehow should fetch the message history and add it to the notes database, so they will be shown in the UI as well.

[2018-12-02 14:18] jancborchardt opened #90 ""Skipping optional dependency" in make dev-setup"
It’s not critical, but it would be nice to have no scary-looking warnings at all in any of the setup steps:
[code]

Could we get rid of those `npm WARN` lines? @juliushaertl

[2018-12-02 14:21] jancborchardt opened #91 "SQL error when enabling app"
Got this when updating to current master, this happens when enabling the app in the apps management after the update to Nextcloud 16 server master:
[code]

Any idea @daita @juliushaertl?

(Yes, I use SQLite on my local dev instance, as do many others. ;)

[2018-12-02 14:30] jancborchardt opened #92 "Make sure federated sharing accepts @user@cloud.example.com usernames"
Ref https://github.com/nextcloud/server/issues/12776

This is important to avoid even more confusion with the strange-looking usernames. Maybe we should even move our Federated Cloud ID to just be exactly like the ActivityPub handle, prepending the @, but still accepting the legacy cloud ID.

FYI @schiessle @MorrisJobke @rullzer @juliushaertl @daita

[2018-12-02 21:29] #91 closed, assigned to nobody

[2018-12-02 21:31] jancborchardt opened #93 "Responsive design"
Currently the design only works on desktop. All content elements should probably be `max-width: 100%` to make them responsive.

On smaller screen like tablet:
![smaller screen](https://user-images.githubusercontent.com/925062/49345209-e51e9180-f681-11e8-9a13-0c27b22934e8.png)

On mobile:
![social on mobile](https://user-images.githubusercontent.com/925062/49345208-e51e9180-f681-11e8-8016-4034a5b04

[2018-12-02 22:32] jancborchardt opened #95 "Emoji picker and post privacy popup overlap"
Open the post privacy picker and then the emoji picker, you get this:
![emoji picker overlap](https://user-images.githubusercontent.com/925062/49345821-77c32e80-f68a-11e8-8c17-7a48df653448.png)

Whenever you open one, the other should close. The issue seems to be with the post privacy picker, because that doesn’t close when you click outside of it, while the emoji picker does.

@juliushaertl

[2018-12-02 22:33] jancborchardt opened #96 "Keyboard accessibility: emoji picker and user profile tabs"
Everything else seems fine at the moment, but:

- The emoji-picker is not tab-focusable. (To then open it with enter.)
- The tabs on the personal profile page are focusable, but don’t give any feedback. Should get a dark line below like in the files sidebar probably?

[2018-12-03 07:57] juliusknorr opened #97 "Details are not returned on Local#accountInfo"
The Local#accountInfo endpoint doesn't return the users details as
- boolean if the current user is following this account
- number of following/followers

[2018-12-03 07:58] #95 closed, assigned to nobody

[2018-12-03 09:00] #68 closed, assigned to nobody

[2018-12-03 10:01] #93 closed, assigned to nobody

[2018-12-03 10:02] #97 closed, assigned to ArtificialOwl

[2018-12-03 11:47] jancborchardt opened #104 "Ability to like/favorite posts"
The ability to like/heart/favorite posts, which shows publicly on the liked post.

Also should show in a navigation entry "Favorites"/"Likes", whatever we would call it.

[2018-12-03 11:48] jancborchardt opened #105 "Ability to repeat posts"
Just like retweeting / retooting, people should be able to "Repeat" posts. This will embed the original post on your timeline, and up the repeat count on the original post.

As a second step, you could be able to add a comment in addition to the repeat, like on Twitter.

[2018-12-03 11:50] jancborchardt opened #106 "Adding images to posts"
People should be able to upload images to their posts. Just like we have in the Talk app, with a ➕ button (or 🖼) which then shows you:
- ⬆ Upload from device
- 📁 Add from Nextcloud

[2018-12-03 11:54] jancborchardt opened #107 "Show link embeds in posts"
Just like on Twitter, links in a post should automatically be shown with a little embed from the meta properties:
![twitter link embed](https://user-images.githubusercontent.com/925062/49372337-92cd8700-f6fa-11e8-9388-0f6688ea7d60.png)

On a post with multiple links, it shows one of the links (we have to check if it’s the first or last one).

[2018-12-03 12:20] jancborchardt opened #108 "Hashtags"
We should make it possible to use hashtags in posts. They should then be highlighted, clickable and linked to a search.

(As @juliushaertl mentioned in https://github.com/nextcloud-gmbh/social/issues/10 )

[2018-12-03 12:36] #75 closed, assigned to nobody

[2018-12-03 12:38] juliusknorr opened #109 "Issues with actor details"
- The following/followers endpoints still miss the details about the currrent user being a follower or not
- The count of followers/following for /api/v1/account/{username}/info is always 0

from #99

[2018-12-03 13:57] jancborchardt opened #110 "Search"
It should be possible to search for anything:
- words in posts
- users
- hashtags #108

[2018-12-03 15:14] #96 closed, assigned to nobody

[2018-12-03 15:15] juliusknorr opened #111 "Emoji picker accessibility keyboard navigation issues"
- When you type in the search field and then press enter, the first emoji should automatically be inserted. (Currently you need to tab and then press enter.)
- After inserting an emoji like this, the picker should automatically be closed with a space inserted after it so you can continue typing.

Is that possible? This will be very useful for everyone using the emoji picker. :)

_Originally posted

[2018-12-03 15:37] #65 closed, assigned to nobody

[2018-12-03 23:28] jancborchardt opened #115 "Twemoji folder duplicated"
They are in the twemoji folder, and then the same 2841 svg files seem to be in the twemoji → svg folder?

@juliushaertl I guess we just need the twemoji folder, and the svg subfolder would also be a candidate for removing from history like node_modules? #65

@MorrisJobke @rullzer @skjnldsv if you have tips on how to completely remove a folder from history to keep repo size low, please advise. :)

[2018-12-04 01:43] jancborchardt opened #118 "Data import/export"
Just like Mastodon also allows. We need to ensure data portability and allowing people to easily move to and from their own Nextcloud:
![activitypub import](https://user-images.githubusercontent.com/925062/49412895-52a7ec00-f76e-11e8-9ef5-453a549899d4.png)

![activitypub export](https://user-images.githubusercontent.com/925062/49412896-52a7ec00-f76e-11e8-9e59-4ade8c0311b0.png)

[2018-12-04 02:15] jancborchardt opened #119 "Profile header image"
Just like Mastodon, Twitter and all the others, it would be nice to have the possibility to set a header image for your profile:

![mastodon profile header](https://user-images.githubusercontent.com/925062/49414185-c6e48e80-f772-11e8-9cdd-9504586bbd42.png)

![twitter header picture](https://user-images.githubusercontent.com/925062/49414184-c6e48e80-f772-11e8-8399-e6268b943ec9.png)

[2018-12-04 09:38] ArtificialOwl opened #121 "UI: better display on /apps/social/@nonexistantuser"
The ActivityPub part returns 404, but the Public page right now is just an exception.

[2018-12-04 10:34] #115 closed, assigned to nobody

[2018-12-04 13:00] jancborchardt opened #125 "Pin post on profile"
Both Mastodon and Twitter allow you to "Pin on profile" (And "Unpin from profile") so it will always be the first post on your profile page.

You can check how this looks like at https://mastodon.social/@opensourcediversity

- [ ] display an option on Posts so that the user/author can 'Pin Post'
- [ ] (backend) store pinned post
- [ ] display Pinned Post on the main page of the account
- [ ] (back

[2018-12-04 15:13] ArtificialOwl opened #126 "Issue with timeline"

[2018-12-04 16:26] jancborchardt opened #127 "Suggest to follow @nextcloud@mastodon.xyz if following no one"
Since the first run with the federated platform can be confusing, we could have a closable thing which suggests to follow our official Nextcloud account at https://mastodon.xyz/@nextcloud ?

Then people would have at least one thing in their timeline they can start out with. :)

@daita @juliushaertl

[2018-12-04 19:54] jancborchardt opened #130 "Tooltip on own avatar on profile page"
Now on the posting page it kind of makes sense and shows correctly:
![social avatar hover](https://user-images.githubusercontent.com/925062/49468975-93ebda80-f806-11e8-9fe1-b3900c597ca4.png)

But on the profile page it looks off and only shows the username:
![social avatar hover profile](https://user-images.githubusercontent.com/925062/49468974-93ebda80-f806-11e8-915c-e0d80827dbf8.png)

Seems not

[2018-12-04 23:18] jancborchardt opened #132 "Emoji picker icon not inverted in dark theme"
![emoji picker not visible with dark theme](https://user-images.githubusercontent.com/925062/49479432-49c52200-f823-11e8-9ca0-a4187da7baca.png)

But everything else works :+1: !

[2018-12-04 23:50] jancborchardt opened #133 "Ability to compose image descriptions"
Depends on #106 (Adding images to posts)

Mastodon has this great thing where they let you add a description to pictures as "Describe for the visually impaired", essentially alt text:
![mastodon describe for the visually impaired](https://user-images.githubusercontent.com/925062/49480604-a591aa00-f827-11e8-9154-c6e72f553b78.png)

This is cool and we should do that too! (Twitter has it also, but on

[2018-12-05 00:09] #126 closed, assigned to ArtificialOwl

[2018-12-05 00:17] #109 closed, assigned to ArtificialOwl

[2018-12-05 10:13] #84 closed, assigned to nobody

[2018-12-05 10:22] juliusknorr opened #137 "Use displayname from local accounts"
@daita Right now the "name" field in actor information seems to be always empty for local accounts. However we should just use the display name from local accounts and expose it there if the privacy settings of the users nextcloud account allow that. You can use `\OCP\Accounts\IAccountManager` to get the information. It should not be stored in the database but fetched on the fly from the account.

[2018-12-05 10:28] juliushaertl opened #139 "Add frontend to reply to posts"
It should be possible to reply to a post. When composing we need to set the privacy level to the same as the original post.

[2018-12-05 10:41] daita opened #140 "Search on incomplete account"
There is 2 searchs on the front-end.

The first one is done when typing an account (starting with '@') in the post creation text field. This search is only looking within the cache of the accounts (local & remote)

The second one, using the default search box is searching on remote instance (in case there is no cached version). This one is an issue as it permanently search while typing meaning tha

[2018-12-05 11:36] #130 closed, assigned to nobody

[2018-12-05 23:14] #137 closed, assigned to nobody

[2018-12-05 23:16] #22 closed, assigned to nobody

[2018-12-06 09:53] #127 closed, assigned to nobody

[2018-12-06 12:43] jancborchardt opened #145 "Implement Mastodon client API (in addition to ActivityPub) for 3rd party client compatibility"
As discussed at the hackweek with @juliushaertl @jospoortvliet, it would be cool to implement the Mastodon client API at some point.

This would allow mobile Mastodon clients to connect to Nextcloud Social!

🐘🎉☁

[2018-12-06 20:42] #11 closed, assigned to nobody

[2018-12-07 07:47] juliushaertl commented on #145
For reference: https://github.com/tootsuite/documentation/blob/master/Using-the-API/API.md

[2018-12-07 08:37] juliushaertl commented on #55
Fixed with #143 :tada:

[2018-12-07 08:37] #55 closed

[2018-12-07 09:11] juliushaertl commented on #132
@violoncelloch Maybe this is a nice one for you :wink:

We basically need a icons.scss file which uses the mixin (`icon-black-white()`) we provide in the server to generate a black and white version of the icon:

https://docs.nextcloud.com/server/latest/developer_manual/design/css.html#icons

[2018-12-07 09:18] daita opened #152 "[0.2.0] TO DO List"
- [ ] Security: Check origin of object during an import (to avoid instance Z to edit information regarding instance Y)
- [ ] Bug: Do not create Post if no field is filled (example case: direct message to a non existant user)
- [ ] Feature: Like on a Post #104
- [ ] Feature: ~~Retweet~~ Repeat on a Post #105
- [ ] Feature: Manage attachment (at least image and link) #106 #107
- [ ] Manage local acc

[2018-12-07 09:19] daita opened #153 "[0.1.x] Known issues."
- [ ] Creating a post as 'Unlisted' is not working as expected.
- [ ] message saying that '.well-known is wrongly configured' is displayed on the first launch of the app. A simple refresh fix this.  @juliushaertl
- [ ] missing Notification Stream (so if anyone is taggin you on a public message, you wont see the message ...)
- [ ] You don't see your own posts in the Home Stream if you're following

[2018-12-07 09:21] #54 closed

[2018-12-07 09:51] juliushaertl commented on #152
@daita Can we just create separate issues and use the milestone for tracking? Otherwise we have two separate lists which need to be maintained.

[2018-12-07 09:55] daita opened #155 "Delete your own post"
We need to add a way to delete  your own post on the UI, and manage this on the back-end

[2018-12-07 09:57] daita opened #157 "Do not create Post if no field is filled"
Check during post creation and cancel post creation if no field (to, cc, bcc) is filled

example case: direct message to a non existant user.

[2018-12-07 10:00] daita opened #158 "[UI] Ability to reply to a Post."
Theoretically, the back-end is already able to do that, an implementation on the UI should be enough. The idea is to fill the 'replyTo' field with the Id of the original post during the creation of the Post

[2018-12-07 10:02] daita opened #159 "Manage local account @account instead of @account@cloud.example.net"
We need to find a clean way of managing local account without the host of the local instance on the UI.

[2018-12-07 10:02] #152 closed

[2018-12-07 10:13] daita opened #160 "Unfollowing a remote account does not send request"
Unfollowing a remote account does not send request to the remote instance of ActivityPub.

[2018-12-07 10:19] daita opened #161 "Following nextcloud@mastodon.xyz on first login works but displays an error"
On first use of the app, I got an error in console (and also a notification) but in the end I am following the account after clicking the link.

There is also an issue when displaying the emoji from the Nextcloud account:
![selection_051](https://user-images.githubusercontent.com/1038617/49641924-21931a00-fa01-11e8-8a8b-e0c1eb990631.png)

[2018-12-07 10:22] juliushaertl commented on #161
What kind of an error?

Ah yes, we need to apply twemoji to that as well.

[2018-12-07 10:29] juliusknorr opened #162 "Add unread indicator for direct messages"
Direct messages should have an indicator if they were already read, so we can properly show a count of unread messages in the navigation sidebar.

[2018-12-07 10:34] juliushaertl opened #163 "Avatar not displayed after updating the privacy settings"
Steps to reproduce:
1. Have the avatar privacy settings set to contacts
2. Create a social account
3. Change the avatar privacy settings to public

Expected behavior:
The avatar url is added to the activitypub response

Actual behavior:
The avatar url is still missing

[2018-12-07 10:35] daita commented on #163
This is done during the next refresh of the cache (cron)

We could catch the event for this edit and refresh the cache at this point.

[2018-12-07 10:55] juliushaertl commented on #163
I did run the cron and occ social:cache:refresh. I guess the cache is only updated if the avatar version changes, which is not the case if the privacy setting is updated.

[2018-12-07 11:41] daita opened #164 "Manage deleted user and delete their account"
Deleting an account will result in an Exception while updating the cache.

Fixing this and deleting all information about the account of that user:
- [ ] post in table server_posts with attributed_to set to the deprecated account) [1],
- [ ] cache in table cache_actors and cache_documents [1],
- [ ] account in server_actors [1],
- [ ] followers/following in server_follows,
- [ ] send a request to

[2018-12-07 11:42] daita commented on #164
Note: we also need to add a 'Delete your account' button somewhere so a user can remove all information related to his social account.

[2018-12-07 13:22] jancborchardt commented on #153
@daita (cc @juliushaertl) same here, please open individual issues and use the Milestone to manage. :)

[2018-12-07 14:07] jancborchardt commented on #155
Interface-wise, there should be a 3-dot icon on the right next of the posting date of a post. This would open a menu with the usual:
- Pin on profile #125
- Delete
- Delete & re-draft (Mastodon has this, restoring the post in the compose controls so you can basically "edit" it.)

Documentation about the popover menu at https://docs.nextcloud.com/server/15/developer_manual/design/popovermenu.html

[2018-12-07 14:08] jancborchardt commented on #157
:wink: this is Social … [→ Mail is over there](https://github.com/nextcloud/mail/).

[2018-12-07 14:09] jancborchardt commented on #158
Cool! For replying, we can use this icon from the Mail app:
![](https://raw.githubusercontent.com/nextcloud/mail/master/img/reply.png)
https://github.com/nextcloud/mail/blob/master/img/reply.svg

[2018-12-07 14:13] jancborchardt commented on #159
What do you exactly mean? That would be done in Settings → Personal info, no?

Additional fields like Biography or header image would be added there, because they are also useful for other apps like Contacts (when we federate at some point) or Sharing.

![personal](https://user-images.githubusercontent.com/925062/49652534-9894d680-fa32-11e8-9dd2-3d1756acf64d.png)

[2018-12-07 14:15] jancborchardt commented on #162
Yup! For reference, documentation for the design of the counter is at https://docs.nextcloud.com/server/15/developer_manual/design/navigation.html#counter

[2018-12-07 14:23] daita commented on #164
No one can delete your account on Mastodon, and you can delete your data. Our case is different as someone could delete your Nextcloud account, so what should we do about the Social account ?

You're right, we should just delete everything might be the best for the current version

[2018-12-07 14:35] jancborchardt commented on #164
True, so there’s 2 cases:

- **Admin deletes your Nextcloud account:** Then of course everything will be deleted, including your Social account (and Mail config, Calendars, Contacts, Files etc.) This is just fully handled by Nextcloud server and there should be some hook, because it’s also possible to deactivate a user, right?
- **You want to delete your Social account:** Only your Social account

[2018-12-07 14:49] daita commented on #164
About the first point: we can delete everything when the user is deleted (hooks). So Social account will be available when a Nextcloud account is deleted or when the user itself ask for it.

There is an edgy use case: Right now, I can detect that a user does not exists anymore every 15 minutes when the cron refresh the cache. But, in some edge case, it could be an issue from the LDAP (or whatever)

[2018-12-07 21:09] violoncelloch commented on #132
oh, thank you @juliushaertl !
I'll look into it when I've got some time. Is there an (estimated) due date for v0.2?

[2018-12-07 22:11] mathiasconradt opened #165 ""Follow" does not work: TypeError: this.item is undefined"
"Follow" does not work on cloud.nextcloud.com.

When I try to follow another user, I get a JS error in the dev console:

in social.js:250:174

[2018-12-07 22:12] mathiasconradt opened #166 "Own posts should also appear under "Home""
On cloud.nextcloud.com: own posts should also appear under "Home". Currently they don't.

[2018-12-07 22:16] mathiasconradt opened #167 "No proper input validation regarding text length of post / unclear error message"
On cloud.nextcloud.com: I post a really long text with 1000 words. It cannot be posted and I just get "Failed to created a post" without an info what exactly went wrong. Obviously it is the text length.
But that should be clearly indicated with a proper info to the user.
Or even better: limit the text input field by that length.

[2018-12-07 22:40] daita commented on #163
What is your account ?

[2018-12-07 22:59] violoncelloch commented on #166
this is already covered by #153 but as @jancborchardt suggested to split #153 up we maybe keep this one open and remove the point from #153?

[2018-12-07 23:06] juliushaertl commented on #167
@mathiasconradt Can you check the browser console for more error details?

In general yes, we should properly indicate if the text is too long.

[2018-12-07 23:07] juliushaertl commented on #163
Was on my personal instance.

[2018-12-07 23:19] mathiasconradt commented on #167
it's a 500 error.

Yes, with 1000 *words* I should be above 3000 chars.

[2018-12-07 23:25] jancborchardt opened #168 ""Failed to create a post""
Not sure if this is about the characters used, or if only my first post after each page refresh is taken …:

Before posting
![social before posting](https://user-images.githubusercontent.com/925062/49677555-b3da0300-fa7f-11e8-860f-70c9c2afe072.png)

On posting I get a "Failed to create post" error and these errors show:
![social after posting](https://user-images.githubusercontent.com/925062/49677

[2018-12-07 23:50] jancborchardt opened #170 "Some design issues on mobile"
On small screens, some things break earlier and some later :wink:

- [ ] Own handle in first row should ellipsize, not wrap.
- [ ] Same for posts in the stream, as it conflicts with the posted date.
- [ ] Own post background box should extend whole width (here text from previous posts is visible

Probably for 0.2 instead?
- [ ] Probably the own posting box should scroll up and not be sticky becaus

[2018-12-07 23:54] jancborchardt opened #171 "Name display inconsistent"
Above the posting box, it shows your display name and your full handle with domain – this is how it should be.

In the stream and on your profile page though it shows just the Nextcloud username of you and others. This is not useful, except when there’s no display name set for the person.

![social app names](https://user-images.githubusercontent.com/925062/49678284-a0c93200-fa83-11e8-96e8-060c571

[2018-12-08 00:02] jancborchardt opened #172 "Issues with public profile page"
- [x] The "public" page of a user only shows when you are logged in. Which defeats the purpose of course.
    ![social public page logged in](https://user-images.githubusercontent.com/925062/49678412-51cfcc80-fa84-11e8-8f69-f6e077df2379.png)
    In private mode or when not logged in, it’s empty with some errors:
    ![social public page private mode](https://user-images.githubusercontent.com/92506

[2018-12-08 00:02] jancborchardt commented on #170
If some @nextcloud/designers want to get involved with the Social app, this is the place to start. :wink: :sparkles:

[2018-12-08 00:11] jancborchardt opened #173 ""File not found" when clicking link of full ActivityPub handle"
When I go to https://cloud.nextcloud.com/apps/social/@maxence it works.

But when I go to https://cloud.nextcloud.com/apps/social/@maxence@cloud.nextcloud.com or https://cloud.nextcloud.com/apps/social/@nextcloud@mastodon.xyz I get this:
![social file not found](https://user-images.githubusercontent.com/925062/49678671-3b2a7500-fa86-11e8-9fc1-acf4249f8a10.png)

[2018-12-08 09:50] daita opened #174 "Creating a post as 'Unlisted' is not working as expected."
'Unlisted' Post should be available in
- Followers' Home
- The feed of the author
- **not** in Local timeline.

[2018-12-08 09:50] #153 closed

[2018-12-08 09:52] daita commented on #85
@juliushaertl would be nice to have a first version of the stream including at least the @mention for 0.1.1. For the like/repost/following you, we'll see that later

[2018-12-08 10:40] tcitworld opened #175 "Increase the size of the source column"
**Describe the bug**
The `source` column width in the `oc_social_cache_actors` table (can probably be the same with the `oc_social_server_notes` table) is too low.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a follow your account from a Mastodon account so that my remote actor is inserted into `oc_social_cache_actors`.

**Expected behavior**
Actor is successfully inserted

**Actual

[2018-12-08 11:50] daita commented on #145
So, we need to:

- Check that we can specify a full url (host+path) like: https://nextcloud.example.net/apps/social so that the client will do its request on /apps/social/api/from/mastodon/_
- move the current API we use between front-end -> back-end from /api/v1/... to something else /local/v1/...

[2018-12-08 12:38] daita opened #180 "Layout is changing while typing message"
When typing message, the layout is moving around:
https://cloud.artificial-owl.com/s/cfzoQ43fRFE6yMm

Firefox, Linux. Nothing in console log.

[2018-12-08 12:46] daita commented on #168
you had anything in the nextcloud.log ?

[2018-12-08 12:47] schiessle opened #182 "Following nextcloud@mastodon.xyz failed"
I just tried to follow nextcloud@mastodon.xyz with the "Follow Nextcloud on mastodon.xyz" button which failed with this error message in the JS console:

[code]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise

[2018-12-08 12:50] Kedoia commented on #168
same error for me, on nextcloud.log :

`{"reqId":"6frGW87PJt5vR41maa92","level":2,"time":"2018-12-08T12:49:29+00:00","remoteAddr":"217.70.181.1","user":"valere","app":"no app in context","method":"POST","url":"\/apps\/social\/api\/v1\/post","message":"500 - {\"status\":-1,\"exception\":\"Doctrine\\\\DBAL\\\\Exception\\\\DriverException\",\"message\":\"An exception occurred while executing 'SELECT

[2018-12-08 13:06] violoncelloch commented on #171
`actore_info.preferredUsername` is used there which returns the username and not the display name.
@juliushaertl does there exist a variable containing the displayName for the actor or do we have to create one first in the backend? Above the posting box `currentUser.displayName` is used.

[2018-12-08 13:30] daita commented on #166
@mathiasconradt just to confirm, do you still have issue right now ? if so, can you follow an account and check your Home stream ?

[2018-12-08 15:00] mathiasconradt commented on #166
@daita Tried to follow you via https://cloud.nextcloud.com/apps/social/account/@maxence/ , does not owrk.

[2018-12-08 15:01] mathiasconradt commented on #166
@daita Issue is resolved now (Home).

Following does not work, see https://github.com/nextcloud/social/issues/165

[2018-12-08 16:06] daita commented on #165
In fact, the follow works, but not the UI :)

#161

[2018-12-08 16:06] #165 closed

[2018-12-08 16:08] daita commented on #182
Follow works despite this error - #161

[2018-12-08 16:08] #182 closed

[2018-12-08 16:10] daita commented on #161
could be related to #175

[2018-12-08 18:13] poVoq commented on #145
Cool would be also support for the advanced features from Twidere:
https://github.com/TwidereProject/Twidere-Android

[2018-12-08 18:45] hrefhref opened #183 "Nodeinfo"
Could you consider adding a [nodeinfo](https://github.com/jhass/nodeinfo) endpoint so various fediverse lists (or else!) could easily identify your project?

[2018-12-08 20:57] daita commented on #168
#185 might fix your issue, @Kedoia but I am still curious about your nextcloud logs, @jancborchardt

[2018-12-08 21:30] sunjam opened #186 "Circles App and Mood App integration with Social App"
[Here is a feature request for ActivityPub support in the Nextcloud Circles and Mood apps](https://github.com/nextcloud/circles/issues/225).

[2018-12-08 21:40] sunjam opened #187 "Add Nextcloud to the-federation"
I believe this will also require nodeinfo #183.  See [this request for Nextcloud integration on the-federation.info](https://github.com/thefederationinfo/the-federation.info/issues/138)

https://the-federation.info can optionally track a public list of available federated services and nodes (Nextcloud instances), including whether they offer open registration.  Very exciting!

[2018-12-09 09:57] schiessle commented on #182
I can't confirm that following worked despite the error.

If I look at my profile it still that I don't follow anyone:

![image](https://user-images.githubusercontent.com/1589737/49695842-2a225680-fba1-11e8-8607-2dcadeb127f9.png)

Also on the Nextcloud account I can't find me in the list of followers: https://mastodon.xyz/users/nextcloud/followers

Btw, the button to follow Nextcloud is now gone.

[2018-12-09 10:02] schiessle commented on #4
I think by default we should allow to follow everyone on every server. But imho there should be a admin setting to limit it to users on the server only so that you can also use it as an internal social network for your organization only.

[2018-12-09 10:04] schiessle opened #188 "Following random user fails."
I just tried to follow your @daita at c.nc.com. I clicked at your profile on the public time line and then the follow button which will show a spinner and nothing happens. The JS console shows:

[code]

Btw, how do I follow random users, e.g. if I want to follow @bjoern@mastodon.social. Where can I enter the user?

[2018-12-09 10:09] schiessle commented on #161
I'm not sure if it is just an error message. Also after trying to follow the Nextcloud account my "follow" count is still zero:

![image](https://user-images.githubusercontent.com/1589737/49695943-96518a00-fba2-11e8-97cd-3c688daaaa10.png)

and if you look here https://mastodon.xyz/users/nextcloud/followers you can't find me in the followers list. Also there is no notification on the Nextcloud acco

[2018-12-09 10:16] schiessle commented on #172
btw, wouldn't it be nice to use `https://<your-nextcloud>/@user` as profile page, without the `apps/social` part, at least as a redirect? This would make it easier to discover and remember user profiles and most people know this pattern already from Mastodon.

[2018-12-09 11:01] daita commented on #188
Bjorn: use to searchbar on the top right of the page.

[2018-12-09 11:17] hrefhref commented on #187
Regarging[fediverse.network everything's ready already, as soon as nodeinfo / #183 is implemented, it'll start showing!

[2018-12-09 13:40] alxlg commented on #145
Mastodon client-server API are specific to Mastodon. Why not use ActivityPub's client-server protocol instead? It would be better to have generic ActivityPub clients. A Mastodon client instead is expected to be used with Mastodon that has certain features. I don't think you are going to replicate Mastodon's features as a Nextcloud app.

[2018-12-09 16:16] jaywink commented on #187
Also re the-federation.info, as soon as NodeInfo or [NodeInfo2](https://git.feneas.org/jaywink/nodeinfo2) support is added, registering servers will just work. Great to see Nextcloud joining the social fediverse! This is awesome :)

[2018-12-09 18:03] schiessle commented on #188
@daita searching for local users works great, but if I try to search for `@bjoern@mastodon.social` I see a spinner and nothing happens in the network console I see that the search request returned this error:

[code]

It seems like the search find my profile at mastodon.social but can't handle it.

[2018-12-09 20:34] daita commented on #188
yes, it is a known issue that comes with using the searchbar from Nextcloud (#140)

When you're searching, we use the cache to get results. If you type the whole account, we can start checking if there is an instance behind the address, and then, if there is the account you're looking for on that instance.

Now, (I think) that because the search from the topright bar can be requested whenever the

[2018-12-09 20:35] daita commented on #188
Now there is also this issue when generating the cache with a too short field. I am working on this.

[2018-12-10 07:43] jancborchardt commented on #4
@schiessle yes, that's the simple first step setting. But it is also necessary to have the ability to be part of the federation while still having a blocklist for specific servers, e.g. if they carry hateful or illegal content.

[2018-12-10 07:48] jancborchardt commented on #145
@alxlg are there any generic ActivityPub apps? I'm not aware of any, whereas there's 2–3 different Mastodon apps.

With Nextcloud News we alrready made the mistake of not implementing the most used API (of defunct Google Reader).

If there are generic ActivityPub apps, that's cool and they will work with Nextcloud Social anyway. But it also makes sense for us to support apps which are already ther

[2018-12-10 07:52] jancborchardt commented on #187
We really appreciate everyone's excitement and help by the way! 😊 Nextcloud Social is still at the earliest stages, but everyone can contribute!

[2018-12-10 10:22] daita commented on #188
#194 should do the trick

[2018-12-10 10:23] daita commented on #175
#194 should do the trick

[2018-12-10 10:24] daita commented on #161
#194 should do the trick

[2018-12-10 13:34] daita opened #199 "Issue with post sent to a follower from a 3rd instances"
**Describe the bug*
Cannot parse some post to followers.

**To Reproduce**
Steps to reproduce the behavior:
1. UserA follows an account (UserB) on another instance of ActivityPub
2. Post from UserC on a 3rd instance of ActivityPub to UserB
3. When incoming to the instance of UserA, the Post fail to be parsed because of the check on the Origin.

Origin is based on the instance who request the Creat

[2018-12-10 14:30] alxlg commented on #145
@jancborchardt with respect, this seems to me an abuse of those apps that are promoted as Mastodon clients and that expect to be used with a Mastodon instance to ensure a certain user experience.

I now see that you changed the title mentioning also ActivityPub client-server API, I appreciate it.

[2018-12-10 17:47] LukasReschke opened #200 "// TODO: Delete the NoCSRF check"
🤷

[2018-12-11 13:47] zerojay opened #207 "SQL Error: Row size too large when enabling Social app."
**Describe the bug**
Attempting to enable the Social app results in a failure with the following output:

An exception occurred while executing 'ALTER TABLE oc_social_cache_actors CHANGE `source` source VARCHAR(10000) NOT NULL COLLATE utf8mb4_bin': SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 65535.

[2018-12-11 13:49] jancborchardt commented on #207
@daita is this fixed by one of your pull requests? :)

[2018-12-11 14:25] hillebr opened #208 "Following @nextcloud@mastodon.xyz fails"
When trying to follow @nextcloud@mastodon.xyz with my recently upgraded NextCloud instance
portal.christinahillebrand.de I got the error:
"The required redirect URL for your account could not be found"
Social App was installed via AppStore.
.htaccess settings .well-known etc. applied!
Do I have to set up / adjust anything else?

TIA

René

[2018-12-11 14:27] jancborchardt opened #209 "Check with ActivityPub test suite"
The page https://activitypub.rocks has a test suite at https://test.activitypub.rocks

We should check Social with that and make sure it passes. :) @nextcloud/social

[2018-12-11 14:46] violoncelloch commented on #208
duplicate of #161

[2018-12-11 14:46] #208 closed

[2018-12-11 15:13] MariusBluem commented on #155
<img width="577" alt="bildschirmfoto 2018-12-11 um 16 11 48" src="https://user-images.githubusercontent.com/19711361/49809578-91860500-fd5f-11e8-9020-6cad9158ee2c.png">

I'd say deleting posts would make sense :) Thanks for demonstrating this @mathiasconradt @schiessle

[2018-12-11 16:06] algernon opened #210 "Social app not federating with Mastodon"
**Describe the bug**

I'm running NextCloud 15-rc3 via Docker, installed the social app. When I try to post something, it does appear on the loca timeline, but I can't see it from a remote instance. Sending a direct message to my existing Mastodon user (`@algernon@trunk.mad-scientist.club`) does not appear to get sent. Sending a DM the other way around to my Nextcloud Social user (`@algernon@banda

[2018-12-11 16:43] zerojay commented on #207
Updated the OS version (sorry, got slightly confused) and added the MySQL version. What configuration information do you need to know about MySQL? I don't remember making many changes to the initial configuration as Ubuntu ships.

`
mysql> SHOW COLUMNS FROM oc_social_server_notes;
+----------------+---------------+------+-----+---------+-------+
| Field          | Type          | Null | Key | Defa

[2018-12-11 17:44] annando commented on #187
As soon as my local installation is updated, I will start testing it. I created the AP protocol implementation  for Friendica, so I already had got a deep look into the protocol and the various implementations.

[2018-12-11 18:15] zerojay commented on #210
Looks like a duplicate of #175.

[2018-12-11 20:35] algernon commented on #210
Appears so, yes. Closing this one then.

[2018-12-11 20:35] #210 closed

[2018-12-11 23:15] genofire commented on #126
This one?:
[code]

[2018-12-11 23:17] bernd-wechner opened #211 "Facebook support"
Currently supported are Nextcloud, 🐘 Mastodon, 🇫 Friendica, and soon ✱ Diaspora and👹 MediaGoblin.

That is so awesome it's not funny! Social Media Platform interoperability is a dream of sorts.

But Facebook support is what will empower and encourage a significant migration away form Facebook I suspect. Just a thought.

[2018-12-11 23:53] genofire commented on #211
Facebook has no interoperability interface to other networks, so this would not be possible.

Maybe you could convince Facebook to implement [ActivityPub](https://www.w3.org/TR/activitypub/) a protocol behind that. (Sorry, i bad joke i know)

[2018-12-12 00:00] bernd-wechner commented on #211
Well noted. ActivityPub looks awesome. Looks like its Collections generalize the idea of groups, pages and such on FB quite well, and while you think it a bad joke, and I agree I don't see FB adopting it in any hurry of their own accord, FB and other giants are facing increasing scrutiny from legislators because of growing monopolies, that like the telecoms before them emerge because of intentiona

[2018-12-12 09:48] daita commented on #211
like @genofire said, the social app is based on ActivityPub and will only manage ActivityPub

[2018-12-12 09:48] #211 closed

[2018-12-12 09:57] daita commented on #207
Could you test this patch ?

Please check that you only have 2 Migrations file in the social/lib/Migration/ : https://github.com/nextcloud/social/tree/c1e387c08fe63881d293266422ad2bcf0033566e/lib/Migration

Doing an hacky: `./occ config:app:set --value '0.0.1' social installed_version` and refresh the webclient of Nextcloud will trigger the updating process.

[2018-12-12 13:18] hillebr opened #218 "app user_webfinger missing"
The app user_webfinger seems to be a prerequisite to the social app.
This app is missing on my instance.
I can't find it within AppStore so how do I install it?

TIA

René

[2018-12-12 13:20] daita opened #219 "update cache_actors Update/Person"
The app should manage the entering request when some edit his profile:

[code]

and update the cache.

[2018-12-12 18:23] c0urier opened #220 "Error: TypeError: Argument 1 passed to OC\AppFramework\Logger::log() must be of the type int"
Describe the bug
When checking the logs in nextcloud I see a lot of these error entries and they seem to be related to the social plugin.

[code]

How do I get rid of them?

Expected behavior
The social app is working, but the logs are just very messy.

Social app version: 0.1 from app store

Operating system: Debian 10 (buster)

Web server: nginx 1.14.1

Database: MariaDB 10.1.37

PHP version: 7.

[2018-12-12 20:43] daita commented on #218
No, there is no prerequisite beside Nextcloud 15.
Why would you think the app user_webfinger would be needed ?

[2018-12-12 20:44] daita commented on #220
Yes, this will be fixed in 0.1.1 !

[2018-12-12 20:44] #220 closed

[2018-12-12 20:48] hillebr commented on #218
because Social app advised me after installation to add some RewriteRules to upper my .htaccess
RewriteRule ^\.well-known/host-meta /nextcloud/public.php?service=host-meta [QSA,L]
RewriteRule ^\.well-known/host-meta\.json /nextcloud/public.php?service=host-meta-json [QSA,L]
RewriteRule ^\.well-known/webfinger /nextcloud/public.php?service=webfinger [QSA,L]
If I call \.well-known/host-meta for inst

[2018-12-12 20:50] hillebr commented on #218
...and original NextCloud .htaccess does contain:
 RewriteRule ^\.well-known/host-meta /public.php?service=host-meta [QSA,L]
  RewriteRule ^\.well-known/host-meta\.json /public.php?service=host-meta-json [QSA,L]
  RewriteRule ^\.well-known/webfinger /public.php?service=webfinger [QSA,L]

[2018-12-12 21:08] daita commented on #218
did you already open the social App in your browser ?

[2018-12-12 22:00] hillebr commented on #218
...yes!The app works, but I can't follow nextcloud@mastodon.xyz even after adding the two lines of #161See my #208HTHRené-------- Originalnachricht --------Betreff: Re: [nextcloud/social] app user_webfinger missing (#218)Von: Maxence Lange An: nextcloud/social Cc: hillebr ,Author did you already open the social App in your browser ?

—You are receiving this because you authored the thread.Reply to

[2018-12-12 22:22] daita commented on #218
This will be fixed in 0.1.1

[2018-12-12 22:41] #218 closed

[2018-12-13 14:31] jancborchardt opened #227 "Inconsistent display of @user@server.com handle"
Similar to the #171 (Name display inconsistent), the `@user@server.com` handle is also inconsistent, sometimes written without the first `@`:
![handle display inconsistency](https://user-images.githubusercontent.com/925062/49944951-f79f9300-feeb-11e8-945f-0f79fa2840d7.png)
![display of user handles](https://user-images.githubusercontent.com/925062/49944953-f79f9300-feeb-11e8-8086-d60b4925d105.png)

[2018-12-13 17:25] zerojay commented on #207
Yes, I only had two files in there originally. The patch appears to have worked for me. I no longer see errors in my logs.

[2018-12-13 19:44] sunjam opened #228 "Zot Protocol Support"
Zot is a protocol being used to federate instances of [Hubzilla](https://framagit.org/hubzilla/core), Osada, Red, and Zap.  [See Osada for a social network that bridges between Zot and ActivityPub](https://git.framasoft.org/macgirvin/osada).  Zot's nomadic identity could also be [very useful to the Nextcloud core server as well](https://github.com/nextcloud/server/issues/11653).  Here is a link to

[2018-12-14 00:35] jancborchardt commented on #228
We prefer to use standards which are well-established and widely used already (like WebDAV, ActivityPub etc) and that’s what we focus on with our limited resources.

If anyone would like to implement this, feel free. But it’s not a main roadmap feature.

[2018-12-14 18:12] mrstegeman opened #229 "Browsing to account results in "File not found" error page"
**Describe the bug**

After creating the post, I click on the link above it in the timeline and end up with a "File not found" error, instead of the account page.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Social app
2. Create a public post
3. Go to any of the timeline pages, i.e. Profile, Local timeline, or Global timeline
4. Click on link above post, i.e. https://myhost.com/ind

[2018-12-14 23:14] m4sk1n commented on #228
@elvecio
they assumed that Diaspora is going to implement ActivityPub

[2018-12-14 23:44] jancborchardt commented on #228
Yup, as @m4sk1n said – Diaspora and MediaGoblin seem to have plans to implement ActivityPub, that’s what the statement comes from. We think considering the limited resources of all of our projects it only makes sense if we all use a common standard.

[2018-12-14 23:45] jancborchardt commented on #229
@mrstegeman thanks for the report, this issue has already been opened at https://github.com/nextcloud/social/issues/173 :)

[2018-12-14 23:56] mrstegeman commented on #229
@jancborchardt It’s close, but for me, it doesn’t even work with just the `@user` case.

[2018-12-15 07:18] strypey commented on #228
Just to clarify, my understanding is that Diaspora are *not* planning to implement ActivityPub. The latest comment I've seen on the subject from any of the active developers is here:
https://schub.io/blog/2018/02/01/activitypub-one-protocol-to-rule-them-all.html

AFAIK the other apps that currently support the Diaspora protocol either already have implemented ActivityPub ([Hubzilla](https://framag

[2018-12-15 10:56] jancborchardt commented on #228
Right now we support ActivityPub as it's a good standard used by the biggest (as far as we know) decentralized social network, which is Mastodon.

Especially considering our limited resources, we don't have any plans to implement other protocols.

[2018-12-15 10:58] jancborchardt commented on #229
@mrstegeman right, might be different. Do you have more info like server logs?

cc @daita

[2018-12-15 13:59] elvecio commented on #228
_my understanding is that Diaspora are not planning to implement ActivityPub._

that's why  I asked ;)

[2018-12-15 15:10] strypey commented on #228
On 2018-12-15 18:56, Jan-Christoph Borchardt wrote:

AP is certainly the most widely supported at present, with a large
number of apps already supporting it, others with implementations in the
works (as I mentioned above), and many new apps being developed to work
with it:
https://gitlab.com/fediverse/fediverse.gitlab.io/wikis/watchlist-for-activitypub-apps

Fair enough. Just pointing out that Zot

[2018-12-15 17:42] m4sk1n commented on #228
Maybe one day we will have an AP extension including normadic identities?

[2018-12-15 18:39] gerco opened #230 "Timeline should display images from Mastodon posts"
**Describe the bug**
Nextcloud Social does not display images in posts from followed accounts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Social
2. Follow a Mastodon user that posts images
3. Wait until they post a new image
4. Observe that only the text is displayed in the timeline on Nextcloud, no image is visible.

**Expected behavior**
The posted image(s) should be visible, con

[2018-12-15 19:09] jancborchardt commented on #230
Yes, there is no image support at all yet. Also see **Adding images to posts #106**

[2018-12-16 00:19] christoph-puppe opened #231 "[Discussion] Post to groups"
Hi

I'd love to be able to post to local groups.

Please :)

[2018-12-16 00:20] christoph-puppe opened #232 "comments?"
Would it be possible to comment on a post?

And like comments?

[2018-12-16 04:58] strypey commented on #228
Marcin Mikołajczak wrote:

Maybe, but from what little I do understand so far about the differences
between AP and Zot, I don't think that's likely. Mainly because of the
way identity in AP is strongly tried to domain names.

I think the most misunderstood point made in the famous XKCD comic about
standards, is that there are *good reasons* for having competing
standards, because no one standard c

[2018-12-16 11:43] john-2000 opened #233 "Change / reset / server configure federated cloud ID"
**Describe the bug**
I have used both local IP 192.168.xx.yy as well as remote IP my.domain.com to log onto my nextcloud.
Sharing under settings reflects the way I have logged on ie john@192.168.xx.yy if logged on via  local ip or john@my.domain.com if logged on via the web.

social seems stuck on the local ip ie john@192.168.xx.yy and I do not seem to be able to change it - this is independent of

[2018-12-16 14:33] violoncelloch commented on #232
for answering on a post see #139
and for liking see  #104

[2018-12-16 14:33] #232 closed

[2018-12-16 14:42] Lars1963 commented on #233
I'm not sure, if this is the same Problem. My ID shows @**nextcloud**.therapiecenter.org, which actually should be referring to my real subdomain (seth.therapiecenter.org). I've also found no way to correct this.

![social id](https://user-images.githubusercontent.com/45886938/50054993-0d5dc400-0149-11e9-9fd5-c8aab2612df2.png)

I'm using NC 15.0.0 on nginx debian 9.6

[2018-12-16 14:47] violoncelloch commented on #233
Activitypub (the federation protocol for social) needs one fixed address while Nextcloud allows multiple domains for one instance. Therefore we try to automatically determine the primary address (otherwise ask the admin for it) and use the `overwrite.cli.url` from the config.php, because this is the primary address set to be used to generate URLs in Nextcloud.
@john-2000 You seem to have set 192.1

[2018-12-16 14:52] Lars1963 commented on #233
@violoncelloch
You're right. This is a faulty config.php on my site. Don't know where that happened. Must change that.
Question, als a Newbie to nextcloud: which tables have to be deleted?

[2018-12-16 15:50] violoncelloCH commented on #233
@Lars1963 The tables have a prefix like `oc_` followed by `social_` and the actual "title".

[2018-12-16 17:07] Lars1963 commented on #233
THX

[2018-12-16 17:10] daita commented on #233
You will also need to remove **carefully** any entry from oc_migrations with `social` as appId

[2018-12-16 18:11] john-2000 commented on #233
@violoncelloCH just to check, is it possible to "drop the tables" or should I better delete all rows? I tried deleting by dropping but when I re-downloaded social that did not seem to regenerate the tables, or is the regeneration dependent on the oc_migrations step described.

@daita just to check you would expect there not to be too many

[2018-12-16 18:48] ronnicek opened #234 "Nextcloud behind proxy shows IP instead of hostname"
**Describe the bug**
Home (or profile) shows 192.168.0.100 instead of nextcloud.domain.com

**To Reproduce**
Steps to reproduce the behavior:
1. Run nginx in docker infront of php7-fpm in docker with nextcloud
2. Click on 'Social'
3. See error

**Expected behavior**
Social app should show nextcloud.domain.com instead of IP

**Screenshots**
![social-bug](https://user-images.githubusercontent.com/38

[2018-12-16 18:49] ronnicek commented on #234
This looks the same as #233 maybe? If yes, sorry and feel free to close it :)

[2018-12-16 18:53] ronnicek commented on #234
Yep, I had 'overwrite.cli.url' => 'https://192.168.0.19' in configuration.. closing.

[2018-12-16 18:53] #234 closed

[2018-12-16 22:17] violoncelloCH commented on #233
@john-2000 AFAIK the tables are regenerated if the app is downloaded and activated and doesn't find the tables, so drop should work.

[2018-12-16 22:18] violoncelloCH commented on #234
yes, exactly, thank you!

[2018-12-16 22:44] daita commented on #233
I will release a 0.1.1 this week, including a simple command to reset the whole database of the app.

[2018-12-17 06:55] Lars1963 commented on #233
@daita
Just a little remark: I found also found some entries in oc_appconfig with social as appId

[2018-12-17 18:57] Lars1963 opened #237 "German Translation missing"
**Describe the bug**
Transifex says; German Translation for this app = 100%. With default_language = "de" and default_locale = "de" in config.php and Userconfig, the app still shows english text.

It looks like the translationsfiles are missing in l10n.

[2018-12-17 21:17] annando commented on #228
Currently there is no definition for nomadic identities in the AP standard.

[2018-12-17 21:49] daita commented on #209
Hello @annando ! nice to see you on github too :-p

[2018-12-17 22:03] annando opened #238 "Add "rsa-sha256" as "algorithm" to the HTTP signature"
Currently the HTTP signature is missing the "algorithm" field.

Please add ```algorithm="rsa-sha256"``` to the HTTP signature fields, like most other implementations are doing.

[2018-12-17 22:16] annando opened #239 "Send an "Accept" as answer to a "Follow""
Currently contact requests from Friendica aren't shown as "accepted" on the Friendica side. This is related to the fact that Friendica awaits an "Accept Follow" message. This message is sent by most known implementations.

See here for details: https://w3c.github.io/activitypub/#follow-activity-inbox

[2018-12-18 09:32] mcnesium commented on #233
It would be great to have the opportunity to set a different domain to the social app. While I am very curious to check out the fediverse from within my Nextcloud instance, I would rather not do this with my federated cloud ID. Propably in many cases it looks like `username@cloud.domain.tld`. Personally I do not want to hang out on Mastodon etc with a `…cloud…` handle, but rather configure another

[2018-12-18 09:53] daita commented on #233
You might want to install an instance of mastodon on a different host than your cloud ? :)

I understand your concerns and, as far as I haven't tested, some alias in your configuration of apache might do the trick:

- social.example.net/.well-known/webfinger  -> cloud.example.net/.well-known/webfinger
- social.example.net/apps/social  -> cloud.example.net/apps/social

Keep in mind that the app is

[2018-12-18 10:09] juliushaertl commented on #239
cc @daita Related to https://github.com/nextcloud/social/issues/36

[2018-12-18 10:14] juliushaertl commented on #237
@jancborchardt Can you add @nextcloud-bot as an admin to the repo? The transifex sync fails, since the bot doesn't have write access to the repo.

[2018-12-18 16:40] #166 closed

[2018-12-18 16:41] #174 closed

[2018-12-18 19:10] daita commented on #239
We do Accept on Follow request. I will have a look on why it's not working with Friendica

[2018-12-18 19:20] daita commented on #239
This is the request I am sending back to you when I am receiving your request:

host: squeet.me
path: /inbox/cult
type: POST,
result: : 202

[code]

[2018-12-18 19:32] daita commented on #237
done, but not sure if it might needs a confirmation to the invitation from the bot

[2018-12-18 21:39] annando commented on #239
Currently I cannot test it by myself, I'm still waiting for the updater telling me that there is a new version. On a first glance - and by looking into the logfile this looks okay.

Sorry for the false alarm.

[2018-12-19 09:10] juliushaertl commented on #229
Fix is included in #244

[2018-12-19 09:15] #199 closed

[2018-12-19 09:15] Chocobozzz opened #245 "Support Video object"
**Describe the solution you'd like**

Support [Video AS objects](https://www.w3.org/TR/activitystreams-vocabulary/#dfn-video), so nextcloud would be compatible with federated video platforms (like [PeerTube](https://joinpeertube.org)).

The way that Mastodon handles video objects seems fine and quite simple:

 * I follow a remote account
 * This account sends a `Video` object
 * Nextcloud creates

[2018-12-19 09:17] juliushaertl commented on #188
Will be fixed with #217

[2018-12-19 09:42] #160 closed

[2018-12-19 16:10] #237 closed

[2018-12-19 23:30] jancborchardt commented on #238
@annando would you be interested in contributing this fix? :slightly_smiling_face:  The development setup instructions are at https://github.com/nextcloud/social#development-setup, let us know if you need any help!

[2018-12-19 23:39] jancborchardt commented on #237
I can see the bot as admin of the repo, so it should work fine now?

[2018-12-19 23:47] #180 closed

[2018-12-19 23:56] jancborchardt commented on #172
@schiessle great point – could you open a separate issue for it? :)

[2018-12-19 23:59] jancborchardt commented on #171
@juliushaertl @daita do you have a pointer for @violoncelloCH? :)

[2018-12-20 02:02] jancborchardt opened #247 "If "Failed to create a post", the post field should not be cleared"
Right now if you get into the situation where the post could not be posted (see https://github.com/nextcloud/social/issues/168), you get slapped in the face twice because also what you wrote is lost. :wink:

If the post fails to get created, of course the content of it should stay in the input field.

[2018-12-20 04:46] annando commented on #238
Currently I'm still running with version 14, since the update process hadn't offered me the update yet. And I'm running it on my NAS, I'm not sure if I can setup a development environment there.

[2018-12-20 11:32] juliushaertl commented on #171
@violoncelloCH displayName is the one that should be used. It should be available on all person object that are returned. prefferedUsername is the first part of the full cloud id. Note that the displayName might be empty, so in places where the full social id (prefferedUsername@cloud.example.com) isn't shown, we should display at least the prefferedUsername.

[2018-12-20 11:53] #172 closed

[2018-12-20 12:45] daita commented on #239
@annando, you can force an upgrade to 15 by

- opening the Admin Settings/Overview page,
- selecting the update channel to 'beta',
- refresh the page,
- switch back to 'production'

You should see the NC15 update available

[2018-12-20 13:12] annando commented on #239
This is my production system with valuable data on it - is it safe?

[2018-12-20 14:18] #229 closed

[2018-12-20 15:04] jancborchardt commented on #171
@juliushaertl preffered → preferred :wink:

@violoncelloCH Also now with #244 (Public page frontend fixes) the username shows in the page title, which should also be the displayName.

[2018-12-20 15:08] jancborchardt commented on #239
We’re not in a rush here, maybe it’s just best to wait out until the update gets suggested to you. Sometimes takes a bit longer since we do this rollout in stages, and also you might want to wait for the first dot-release with fixes and such.

[2018-12-20 15:28] jancborchardt opened #253 "Handles in Global timeline not correctly linked"
Check out this example where @blizzz is on a different instance:
![nextcloud social global timeline](https://user-images.githubusercontent.com/925062/50293327-9f303e80-0473-11e9-918b-fb0b51072570.png)

The handles he mentions should be correctly highlighted and linked to their respective accounts. It should also always be the short handle and not show the other person’s server in the message.

[2018-12-20 15:38] annando commented on #239
Okay. If that's fine for you, then it's fine for me.

[2018-12-20 16:54] violoncelloCH commented on #171
@juliushaertl `item.actor_info.displayName` is always empty, that's why I'm struggling atm. I also can't find a place where something else than `item.actor_info.preferredUsername` is used (expect the `currentUser.displayName` above the Composer)

[2018-12-20 20:56] jancborchardt commented on #238
Fixed through https://github.com/nextcloud/social/pull/251

[2018-12-20 20:56] #238 closed

[2018-12-20 20:57] #233 closed

[2018-12-21 01:08] daita commented on #253
FYI: the quotes are better managed in 0.1.1: https://github.com/nextcloud/social/pull/255

[2018-12-21 11:50] #207 closed

[2018-12-21 20:12] rev138 opened #265 "Server name in handle is @localhost"
**Describe the bug**
The social handle displayed above the new post form is @username@localhost

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Social'
2. See error

**Expected behavior**
I would expect to see @username@example.com

**Screenshots**
![screenshot from 2018-12-21 15-03-03](https://user-images.githubusercontent.com/1538633/50361546-eed53f80-0531-11e9-93cd-fe4d8693932f.png

[2018-12-21 20:54] rev138 commented on #265
I took a look in the database:
[code]
I manually updated it to my domain name (minus the http://) and now it displays correctly in the app.

[2018-12-21 21:06] rev138 commented on #265
Further, looking in  social/lib/Controller/NavigationController.php:

[code]
In my config.php, `overwrite.cli.url` is indeed set to 'http://localhost'.

[2018-12-21 21:46] violoncelloCH commented on #265
exactly, I think we can treat this as a duplicate of #233 ?

[2018-12-21 21:50] #265 closed

[2018-12-21 21:54] rev138 commented on #233
@daita Since 0.1.1 is now out, can you please share the command which resets the db?

[2018-12-21 21:57] violoncelloCH commented on #233
that would be `occ social:reset`

[2018-12-21 22:08] daita commented on #265
Yes, using the occ social:reset command would help to setup another address

[2018-12-22 11:16] daita commented on #168
should be fixed in 0.1.1

[2018-12-22 11:18] daita commented on #161
should be fixed in 0.1.1

[2018-12-22 11:21] daita commented on #228
@jancborchardt status here ? do we close this ticket ?

Personally, I am not a fan of adding another protocol to the app; AP is good enough.

[2018-12-22 14:12] annando commented on #228
From my outside position I would vote for closing this issue. But I suggest to be open for upcoming (non standard) extensions to the AP standard, when they do make sense for NC.

[2018-12-22 15:16] mrstegeman commented on #229
@jancborchardt After updating to the new 0.1.1 release, I tried again. Unfortunately, I still have issues. Now, I get a "User not found" error page, both when logged in and logged out.

![screenshot_2018-12-22 social - nextcloud](https://user-images.githubusercontent.com/457381/50375873-99199980-05fc-11e9-9885-f3d8bf52aafb.png)

[2018-12-22 20:34] juliushaertl commented on #229
@mrstegeman I cannot reproduce this here, any errors in the logs? Can you try a hard refresh, maybe it is a javascript caching issue?

[2018-12-22 20:59] mrstegeman commented on #229
Hard refresh didn’t help, but I do have the following in the log:

[code]

[2018-12-22 21:00] mrstegeman commented on #229
Just FYI: I’m using the official Docker image, sitting behind Traefik. Do I maybe have something misconfigured?

[2018-12-22 21:17] juliushaertl commented on #229
Is it your own account you are trying to browse there? Can you try running: `php occ social:cache:refresh` ?

[2018-12-23 02:20] mrstegeman commented on #229
@juliushaertl Yes, it's my own local account that I'm logged into.

[code]

I also ran the new `occ social:reset` command, but ended up with the same "User not found" error page.

[2018-12-23 08:10] graffen opened #267 ".well-known/webfinger isn't properly set up! Docker issue perhaps?"
I run my Nextcloud instances in Docker behind a reverse proxy (jwilder/nginx-proxy). One of my instances is running the fpm version of the Nextcloud Docker image and the other is running the Apache version.

When I try to access the Social app on both my instances I get
[code]
I have checked that all redirects function as they should, i.e. I can access `/.well-known/webfinger?resource=acct:<my fed

[2018-12-23 08:17] dartcafe opened #268 "Following from mastodon is not possible"
**Describe the bug**
When trying to follow https://mastodon.xyz/@nextcloud via the "Follow" button, i get an error which says
"Could not find the required redirect URL for your account", after I enter my cloud ID ("dartcafe@nc15.yagst.de").

Calling https://nc15.yagst.de/.well-known/webfinger?resource=acct:dartcafe@nc15.yagst.de gives a JSON:

`{"subject":"acct:dartcafe@nc15.yagst.de","links":[{"r

[2018-12-23 15:36] juliushaertl commented on #229
It is actually a server bug, if there is no visibility or scope set for the display name. See https://github.com/nextcloud/server/pull/13240 for a fix

[2018-12-23 15:41] juliushaertl commented on #267
Could it be that the docker nextcloud instance cannot reach the public url that is configured in overwrite.cli.url? Can you try to call the webfinger from the nextcloud docker container with `curl https://your.cli.url/.well-known/webfinger?resource=acct:myfedid`

[2018-12-23 19:38] mrstegeman commented on #229
Thanks! I’ll give it a shot again when there is a new server release.

[2018-12-23 21:59] riemy opened #269 "SignatureException behind Apache proxy"
**Describe the bug**
Everytime an external service tries to communicate with Social the messages cannot be processed and result in a **SignatureException** as stated by a log entry like seen below.

**My setup**
Nextcloud running in a docker container <-- http --> Apache with proxy setup 443 to 80 and an official subdomain <-- https --> Internet

**First approach of a solution**
So I debugged a li

[2018-12-24 15:03] MagicFab commented on #268
Same here, I was able to reproduce this problem.
However, if someone follows me from Mastodon, I can follow them back when they show up at
https://mynextcloud/index.php/apps/social/@myuser/followers

[2018-12-24 15:18] MagicFab opened #276 "Emojis locally display as ????, fine on remote site"
**Emojis display as ????  locally**
I am able to see an emoji fine when composing, however after posting the local display shows ????.
When looking at the same post from https://mastodon.social (after subscribing to the Nextcloud user), its shows up fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Post from your Nextcloud social app. While writing, the emoji shows up fine.
2. Click on "

[2018-12-25 10:31] graffen commented on #267
Hmm I got the message to disappear after playing around with `overwrite.cli.url` and `overwriteprotocol`.
At least the message is gone now after switching things back and forth a bit.

[2018-12-25 17:31] maiki opened #277 "Undraw images are not under a MIT license"
There are 8 included images from the undraw project. Unfortunately, that project is no longer licensed under the MIT license, it was changed sometime in the last year:

* https://web.archive.org/web/20180103010308/https://undraw.co/license
* https://web.archive.org/web/20181208102541/https://undraw.co/license

My recommendation is to remove the images and reference to the collection. I don't know

[2018-12-26 01:12] jancborchardt commented on #277
The unDraw license is:

So basically CC0, but with this addition:

Which is kind of the same that Unsplash and Pexels are doing. It’s unfortunate they go this way instead of plain Creative Commons Attribution (- ShareAlike) or CC0, but it doesn’t make it unusable for us, no? cc @schiessle for further licensing questions.

Also, @Ninalimpi of unDraw is aware that we use her illustrations and positi

[2018-12-26 17:15] daita commented on #269
This edit makes sense as Apache Proxy changes the Host header and backup the old value in `$request->getHeader("X-Forwarded-Host")`.

We could implement it, but should we check also that the value of the X-Forwarded-Host is the host of our nextcloud ?
Wouldn't it be possible/simple to fix the host-header on the origin or duplicate the host-header on origin and proxy ?

@juliushaertl @nickvergessen

[2018-12-26 17:48] nickvergessen commented on #269
Use `$request->getInsecureServerHost()` instead https://github.com/nextcloud/server/blob/master/lib/private/AppFramework/Http/Request.php#L863

[2018-12-26 23:43] daita commented on #269
#279

So I started with using the `getInsecureServerHost`, but I ended up forcing the value of the Host to the address used in the social App.

We assume that `cloud.example.com` in `@account@cloud.example.com` is the unique Host that is used to sign the Header.

[2018-12-27 11:59] LeoSum8 commented on #268
I see a similar behavior for my nextcloud instance.

Also when I use the mastodon search function on https://mastodon.cloud, I can see the following entries in my access-log:
[code]

Is it possible that somehow the `/nextcloud/` subfolder is lost on the way?

Like @dartcafe mentioned, manually calling the webfinger (in my case https://coleburn.servebeer.com/nextcloud/public.php?service=webfinger&r

[2018-12-29 13:46] Luzifer commented on #269
I can confirm this error (without doing further debugging to confirm the cause 100% matches OPs cause) with a nginx proxy in front of Nextcloud running in Docker container. Every interaction (follow, …) from an external Mastodon instance causes `SignatureException: signature cannot be checked`.

Sadly the follow does not go through for me and the interaction is broken.

<details>
<summary>Log entr

[2018-12-29 13:58] sjoerger commented on #267
I was having the same issue and using the curl example above it worked from my desktop but not from my Nextcloud server. The error I received from curl was "curl: (60) SSL certificate problem: unable to get local issuer certificate".

I use a Let's Encrypt certificate on my webserver. Adding a Let's Encrypt intermediate CA cert to my certificate store resolve the issue for both curl and the error

[2018-12-29 14:30] daita commented on #269
Would you try this ?

https://github.com/nextcloud/social/pull/279

[2018-12-29 20:23] sunjam opened #285 "Diaspora* Federation Protocol Support"
Nextcloud Social lists plans to support Diaspora* on the roadmap and readme, but please note that Diaspora is not compatible with ActivityPub.  As mentioned in the [Zot request](https://github.com/nextcloud/social/issues/228), Diaspora only federates with itself, [and you can learn more on their forum](https://discourse.diasporafoundation.org/t/lets-talk-about-activitypub/741).

- [Here is officia

[2018-12-30 00:53] Luzifer commented on #239
Using Nextcloud 15.0.0.10 and Social 0.1.1 this also occurs for a Mastodon 2.6.5 instance. The follow is listed in Social but the Mastodon instance states an approval is required.

![image](https://user-images.githubusercontent.com/20142/50543330-b68acc80-0bd5-11e9-8888-4652c3e56858.png)

Also no updates from the Social account are shown on the Mastodon instance and the profile isn't loaded proper

[2018-12-30 01:47] kaniini opened #286 "Please implement support for Blind Key Rotation (privacy feature)"
**Is your feature request related to a problem? Please describe.**

At present, Nextcloud Social implements support for JSON-LD Linked Data Signatures.  This is problematic for a few reasons, mostly relating to future deniability due to their irrevocable nature.  A mitigation for the loss of deniability is Blind Key Rotation.

**Describe the solution you'd like**

Implementing support for Blind Ke

[2018-12-30 03:28] lanodan opened #287 "Ignores "Accept: application/activity+json", breaking federation"
**Describe the bug**
Fetching the profile with ``Accept: application/activity+json`` in the headers seems to be ignored, at least on the profile.
Related pleroma issue: https://git.pleroma.social/pleroma/pleroma/issues/488

**To Reproduce**
Steps to reproduce the behavior:
- ``curl https://cloud.beepboop.ga/apps/social/@dirb/ -H 'Accept: application/activity+json'``

**Expected behavior**
A Activi

[2018-12-30 03:49] lanodan commented on #287
I looked a bit in the code, done few tests and it looks you’re doing the match for ActivityPub with `application/ld+json` which is the JSON-LD MIME type that is usually used for `@context` resolving. Might be why it works for mastodon but is basically broken everywhere else.

See: https://github.com/nextcloud/social/blob/c6943191f9abe9b88cdee313202a2c56fd315310/lib/Controller/ActivityPubController

[2018-12-30 19:20] jancborchardt commented on #145
Talked to the awesome @connyduck of [Tusky (Mastodon app for Android)](https://tuskyapp.github.io/) at 35C3 and he said that [Pleroma](https://git.pleroma.social/pleroma/pleroma) works well through Tusky too and that they are fine with this usage.

And if there are any incompatibilities, we are of course happy to also contribute to a client app. It’s great to work with all the cool existing apps.

[2018-12-30 19:27] #285 closed, assigned to nobody

[2018-12-31 10:12] daita commented on #287
Also

https://github.com/nextcloud/social/blob/c6943191f9abe9b88cdee313202a2c56fd315310/lib/Controller/ActivityPubController.php#L329

[2018-12-31 10:42] daita commented on #286
I understand the concept of refreshing the key from a remote account in case of failure during the verification process.
I don't get why I should refresh the keys when a user delete an item.

[2018-12-31 17:09] kaniini commented on #286
Refreshing the keys after a delete improves deniability.

[2018-12-31 20:56] daita commented on #286
@kaniini Thanks !

I will definitively implement this.
It seems that I just need to define a lifespan to a key, I do not need to refresh it after specific actions ?

[2019-01-01 14:35] vasyugan commented on #268
I see the same issue with a nextcloud instance running on nginx, obviously, there is no .htaccess here. As per [the nginx config instructions](https://docs.nextcloud.com/server/12/admin_manual/installation/nginx.html), I have uncommented
[code]
As webfinger seems to be what is important her, I have also sinderte the line

`    rewrite ^/.well-known/webfinger /public.php?service=webfinger&$1 last;

[2019-01-01 14:49] jancborchardt commented on #286
@daita 0.1.2 should be for bugfixes though ;) If new features start being implemented, let’s release 0.1.2 and start on 0.2?

[2019-01-01 18:14] daita commented on #286
Totally agree, however implementation is quick and simple and can be done while I am waiting for PR to be reviewed!

[2019-01-02 15:40] rhonda commented on #209
I'm uncertain if that test suite there is really worth looking at, given that the certificate expired two months ago?  Is this still in use?

[2019-01-02 17:03] juliushaertl commented on #276
@MagicFab What database are you using for Nextcloud? In case it's mysql/mariadb please check if there support for 4-byte characters: https://docs.nextcloud.com/server/stable/admin_manual/configuration_database/mysql_4byte_support.html

[2019-01-02 17:05] juliushaertl commented on #287
Fixed with #290

[2019-01-02 17:05] #287 closed

[2019-01-02 17:14] 9662 opened #293 "Invalid datetime format database error when posting emoji"
While testing this application (and aware that federation with Mastodon hosts may not be working), I saw the following error in the Nextcloud log:

[code]
(I have anonymised some values)

I am not aware of the significance of this warning, but I thought I would mention it anyway. Apologies for lack of a more detailed report.

[2019-01-02 17:45] daita commented on #293
I would require more details on the setup/type of your database, also can you paste the structure of the table `server_notes`: `SHOW COLUMNS FROM oc_social_server_notes;`

Do you have the issue each time you try to make a new direct post ?
What about a public post while you mention the @remoteuser@mastodon.xyz in the content of the post ?

Also, what happens when you send a toot from Mastodon to y

[2019-01-02 17:49] daita commented on #110
I would gladly implement this as an extension to the fulltextsearch

[2019-01-02 18:44] dabbill opened #294 ".well-known/webfinger isn't properly set up!"
**Describe the bug**
Error ".well-known/webfinger isn't properly set up!" is showing up when I open the social app. The error was showing under settings --> overview, but since I added the rewrite rules to Nextcloud config it has went away on the overview section. It still remains when I open the Social app. I also attempted to create a test post. I am not able to see the post. When I click on "Pr

[2019-01-02 21:15] juliushaertl commented on #294
Is your configured url the social app uses reachable from within the lxc container?

@daita How do you think about getting rid of the very prominent message in the social app, since we have a setup check in the general settings for that anyway? Since our check is done from the Nextcloud server causes more issues than it helps with.

[2019-01-02 21:25] lanodan opened #296 "Fetching status id gives non-ActivityPub data"
**Describe the bug**
Fetching a status by it’s id gives non-ActivityPub data.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a Nextcloud status id/url. Here I’ll take <https://cloud.beepboop.ga/apps/social/@dirb/15464603731806653100>)
2. Request it with ``Accept: application/activity+json``. Here: ``curl -H 'Accept: application/activity+json' https://cloud.beepboop.ga/apps/social/@dirb/

[2019-01-02 21:31] dabbill commented on #294
When I run the occ command, I get https://nextcloud.domain.com
That is the correct URL to reach my nextcloud instance.

[2019-01-02 21:31] lanodan opened #297 "Fetching an account outbox gives non-ActivityPub data"
**Describe the bug**
Fetching a outbox gives non-ActivityPub data.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a Nextcloud account. Here I’ll take <https://cloud.beepboop.ga/apps/social/@dirb/>.
2. Get the outbox endpoint. Here: ``curl -H 'Accept: application/activity+json' https://cloud.beepboop.ga/apps/social/@dirb/ | jq .outbox``
3. Fetch the outbox. Here: ``curl -H 'Accept: appli

[2019-01-02 21:44] 9662 commented on #293
Indeed, I followed the instruction in https://docs.nextcloud.com/server/stable/admin_manual/configuration_database/mysql_4byte_support.html (mistakenly, I have followed the instructions for MySQL and not for MariaDB, although that's what my distro comes with, but it seemed to work regardless) and now the error has disappeared from the logs **and** messages with emoji are correctly transferred betw

[2019-01-02 21:45] daita commented on #294
let's assume your account is _dabbill_, what do you have when opening

https://nextcloud.domain.com/.well-known/webfinger?resource=acct:dabbill@nextcloud.domain.com

[2019-01-02 21:48] daita commented on #294
Also, as you're using nginx, you might need to apply some configuration:

https://github.com/nextcloud/documentation/pull/877/files

[2019-01-02 21:51] dabbill commented on #294
Here is the raw output.
`{"subject":"acct:dabbill@nextcloud.domain.com","links":[{"rel":"self","type":"application\/activity+json","href":"https:\/\/nextcloud.domain.com\/apps\/social\/@dabbill\/"}]}`

Here is snip from my Nginx Nextcloud config.
`    # The following 2 rules are only needed for the user_webfinger app.
    # Uncomment it if you're planning to use this app.
    rewrite ^/.well-known

[2019-01-02 22:09] daita commented on #294
can you execute a curl request from command line:

or, for better visibility, if you have `jq` installed:

[2019-01-02 22:12] daita commented on #294
Thinking about it, could be related to https://github.com/nextcloud/social/pull/281

[2019-01-02 22:31] dabbill commented on #294
From the instance it self, I get
`curl: (35) error:1408F10B:SSL routines:ssl3_get_record:wrong version number`

[2019-01-03 00:56] daita commented on #296
please try with `Accept: application/ld+json` or wait for 0.1.2: https://github.com/nextcloud/social/pull/290/files

[2019-01-03 00:56] #296 closed

[2019-01-03 00:56] daita commented on #297
yes, the outbox is not working right now

[2019-01-03 01:48] dirb commented on #296
I'm the owner of that box, it's ruining on:
PHP 7.2.10-0ubuntu0.18.04.1
Nextcloud 15.0.0
nextcloud/social 65dc245807dbdab34b716e602497848248f9e896

so the ["compare Accept Header from a list"](https://github.com/nextcloud/social/pull/290/files) is pull request already merged

[2019-01-03 03:20] lanodan commented on #296
Sorry, I should have noted that I did try with `application/ld+json` so it’s not a duplicate.

[2019-01-03 03:59] annando commented on #209
I guess that something like this is more promising: https://testsuite.feneas.org/

[2019-01-03 11:02] #161 closed

[2019-01-03 11:02] #188 closed

[2019-01-03 11:05] #286 closed

[2019-01-03 11:06] juliushaertl commented on #276
@jancborchardt Let's just assign a milestone and to develop label if we can reproduce. :wink:

[2019-01-03 11:08] juliushaertl commented on #171
@violoncelloCH Sorry, I missed the notification on this one. I didn't remember the propert name correct. It is actor_info.name for the display name.

[2019-01-03 11:21] juliushaertl commented on #163
I could not reproduce this with latest master anymore.

[2019-01-03 11:21] #163 closed

[2019-01-03 11:30] juliushaertl commented on #173
Fixed by #264

[2019-01-03 11:30] #173 closed

[2019-01-03 11:31] #219 closed

[2019-01-03 11:33] juliushaertl commented on #294
Related issue https://github.com/nextcloud/social/issues/267

[2019-01-03 11:35] #168 closed

[2019-01-03 11:38] juliushaertl commented on #231
cc @daita Is there some specification in activity pub to have groups to post to?

[2019-01-03 11:59] daita commented on #231
looks like there is a Group object in ActivityPub, that you can Join, Invite, ...

[2019-01-03 15:19] violoncelloCH commented on #171
thank you for your reply @juliushaertl
Your commit c3918c3ae8e4cbcc41a637bcccdc3305c41e7b8d should have already addressed this, shouldn't it? At least with the new method `userDisplayName()` `actor_info.name` should be used if available, but this still doesn't work for me. Looks like `actor_info.name` is empty as well for local users with a Display Name set in user settings.

[2019-01-03 17:02] ZiiX opened #301 "Custom federated .tld domain support for small/single groups"
It would be best if there could be a custom domain added like **fediverse**.mynextcloud.tld or just another standalone.tld solely for federation fediverse support. I also see that the RSS reader can/should also allow subscription to fediverse members via their atom/rss protocols.
Thanks for this & all the great work.

[2019-01-03 17:06] ZiiX opened #302 "Managed Caching of Fediverse Contacts & Whitelist/approvals"
It is widely known the mastodon db grows exponentially with every. single. person ever interacted with... Don't do this. Please only cache contacts permanently & until unfollowed. Also, same goes for images - please only cache images posted by members of this nextcloud fediverse instance and their contacts only (& their posted files for most recent X-days defined by admin).

Lastly, this complemen

[2019-01-04 01:46] daita commented on #239
@annando so I dived into friendica, and it seems that the normalization of the object is different/buggy.

Is https://git.friendi.ca/friendica/php-json-ld/src/branch/master/jsonld.php a fixed version of the original from `digitalbazaar` ?

(Source:
https://github.com/friendica/friendica/blob/491fc5f78aadb787a57a0f0630779f457ff1bcb4/src/Util/LDSignature.php#L86-L89)

[2019-01-04 11:19] daita commented on #239
ok, i will try with your package of ld-json, seems to work better.

[2019-01-04 11:21] daita commented on #276
I had the same issue, the link you gave fixed it !

[2019-01-04 11:21] #276 closed

[2019-01-04 15:14] emersonkfuri opened #306 "Failed to load more timeline entries"
**Describe the bug**
'Failed to load more timeline entries' caused by "OCA\\\\Social\\\\Exceptions\\\\CacheActorDoesNotExistException". CacheActorsRequest->getFromLocalAccount receives @user@cloud.example.com notation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Direct messages'
2. Click on '@user@cloud.example.com'
3. See error 'Failed to load more timeline entries'

**Social app

[2019-01-04 15:31] emersonkfuri opened #307 "Social webfinger - route \"social.ActivityPub.actorAlias\" does not exist"
**Describe the bug**
When accessing '/.well-known/webfinger?resource=acct:user@cloud.example.com', href in response comes wrong. In nextcloud log is reported that route \"social.ActivityPub.actorAlias\" does not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/.well-known/webfinger?resource=acct:user@cloud.example.com'
2. Check json response

**Expected behavior**
href response

[2019-01-04 16:00] jancborchardt commented on #110
We shouldn’t require an additional app though to be able to search through posts, no? Contacts or Calendar for example also doesn’t require fulltextsearch and searches inside of entries.

Or am I not updated and we ship fulltextsearch? :)

[2019-01-04 19:58] daita commented on #110
I have no idea how a filled database will react if we start searching words in posts, we could try to do something light enough. Of course, we should do both for better UX.

[2019-01-04 22:49] Scumpeter commented on #268
When you compare the json output of the social app to the output of other mastodon instances [1], you'll notice that they give a lot more information. I think the part that looks the most like a subscription link is:
`
5 |  
-- | --
rel | "http://ostatus.org/schema/1.0/subscribe"
template | "https://mastodon.xyz/authorize_interaction?uri={uri}"
`

[1] https://mastodon.xyz/.well-known/webfinger?res

[2019-01-05 12:32] vasyugan commented on #268
Indeed, you're right. But it seems for some, Nextcloud social is working, isn't it? I can't imagine they released something that is just not functional yet.

[2019-01-05 15:49] sirl1on commented on #268
Can also reproduce this.

Running nextcloud social on nextcloud.spinweb.de without subfolder.

Having the following in my nginx config:

`rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
    rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json last;

    location = /.well-known/carddav {
      return 301 $scheme://$host/remote.php/dav;
    }
    location = /.w

[2019-01-06 12:03] daita commented on #268
@sirl1on I think there is some documentation [somewhere](https://github.com/nextcloud/documentation/pull/1024/files) on how to enable the webfinger on nginx

[2019-01-06 12:19] vasyugan commented on #268
Am 06.01.19 um 13:03 schrieb Maxence Lange:

Yes, and it is enabled. See my comment above. Webfinger works. But what
the Nextcloud social app returns seems to be incomplete

[2019-01-07 08:11] daita commented on #268
Can you describe me your process of following someone ? I am not able to reproduce the bug on my side.

[2019-01-07 08:19] vasyugan commented on #268
Am 07.01.19 um 09:11 schrieb Maxence Lange:

Go to e.g. https://mastodon.xyz/@nextcloud

Click the "follow" button

Enter [username]@[nextcloud domain]

Btw, my nextcloud is /not/ in a subdir

[2019-01-07 08:34] daita commented on #268
Thanks !

Can confirm that this way of following someone is not implemented (yet) into Nextcloud Social.
Please search for the remote account in your Nextcloud Social, and click on Follow.

[2019-01-07 08:41] vasyugan commented on #268
I don't see a follow button there. Am I overlooking something?

[2019-01-07 09:09] vasyugan commented on #268
I see now what you mean, but first I have to bring up the user profile, and since I don't see a search function, the workaround is to manually enter the URL https://cloud.XXX/apps/social/@REMOTEUSER@REMOTEHOST/
(works for some profiles, but not for others. E.g failed to follow fsf@status.fsf.org

[2019-01-07 09:14] daita commented on #268
there is a searchbar at the top of the screen !

[2019-01-07 09:19] vasyugan commented on #268
Thanks. Seems to work only for mastodon instances. e.g searching for fsf@status.fsf.org (which is on GNU social or status.net or something) returns no results. But that's probably a different bug already.

[2019-01-07 09:19] daita commented on #268
also: https://status.fsf.org/.well-known/webfinger?resource=acct:fsf@status.fsf.org

I cannot see any support for ActivityPub

[2019-01-07 10:49] juliushaertl commented on #90
There is not much we can do about that, since fsevents is an optional dependency that is pulled in by jest, which is only available (and needed) when running on mac os.

[2019-01-07 10:49] #90 closed

[2019-01-07 12:49] daita commented on #307
did you install the app from the appstore ?

[2019-01-07 12:49] daita commented on #239
0.1.2 should have fixed this. Please confirm

[2019-01-07 12:51] daita commented on #110
I implemented some multiple field search in #295 (account+hashtag). Once this is merge, I will add the search on Post into the results

[2019-01-07 13:06] emersonkfuri commented on #307
Sorry, my mistake! I was using user_webfinger and because of it, core.public_webfinger was set with wrong value.

You can close this.

Thank you!

[2019-01-07 13:35] annando commented on #239
I cannot do tests by myself, since the updater still don't offer me an update and I don't want to switch to the beta channel, since my NC installation contains valuable data.

[2019-01-07 16:17] #307 closed

[2019-01-07 18:43] emersonkfuri commented on #268
@daita ... Modifying webfinger.php to add rel => "http://ostatus.org/schema/1.0/subscribe", I was able to follow nextcloud@mastodon.xyz using step 4.

My mod:

[code]

[2019-01-07 19:23] daita commented on #268
Sorry, was working on this this morning, haven't pushed.

[2019-01-07 19:53] daita commented on #268
@vasyugan Please have a look to this: https://github.com/w3c/activitypub/issues/228. There is no issue implementing some feature from OStatus, but we will focus on ActivityPub

[2019-01-08 07:31] graffen commented on #267
Because my Nextcloud is running in Docker SSL is not available from inside the container. So that part will never work in my setup. Perhaps the webfinger check could be rewritten to fall back to testing on port 80 if 443 fails. Would that work?

[2019-01-08 21:03] jdhirst1 opened #317 "LDAP Username instead of GUID"
**Describe the bug**
When using an Active Directory LDAP backend, NextCloud social shows user as "objectGuid@server.tld". This works, however it is quite unweildy as nobody wants to be known as @5DD3ED74-0B77-4501-B8DE-D3F5687B6F99@server.tld.

**To Reproduce**
Enable LDAP authentication with Active Directory, and install and enable social app. All user ids including federated sharing are based up

[2019-01-10 15:37] MagicFab commented on #276
Glad someone could confirm, I can't test this anymore but if I may make a suggestion, please do add a note to release notes of this app about it. I vaguely remember reading about this in the very detailed (and long) installation guides but it would be very helpful to have it in the app release notes/REAME directly.

[2019-01-10 20:37] Scumpeter opened #324 "Show reposts (aka retoots) in personal timeline"
**Is your feature request related to a problem? Please describe.**
When you follow an account that reposts (retoots) something, it is currentliy (social 0.1.2) not shown in your timeline.

**Describe the solution you'd like**
When a person reposts something, it should be visible in any timeline where the posts from this person are visible.
Reposts should be marked as reposts and include informatio

[2019-01-11 09:53] juliushaertl commented on #139
Duplicate of #158

[2019-01-11 09:53] #139 closed

[2019-01-11 10:08] #247 closed

[2019-01-11 10:10] juliushaertl commented on #171
ah right, thanks for noticing @violoncelloCH This is already fixed.

[2019-01-11 10:10] #171 closed

[2019-01-11 12:13] juliushaertl opened #328 "Sanitize, parse and rewrite content of notes"
Right now we just strip all tags from the content and parse the plain text of notes in the frontend. We match `@mentions` and `#hashtags`.

However current implementations work a bit differently and use some html wrapping for mentions and hashtags like this:

## Mastodon

[code]

## Friendica

[code]

This has the issue that right now, if someone creates a post mentioning
`@nextcloud@mastodon.soci

[2019-01-11 13:43] #227 closed

[2019-01-11 21:54] gloomytrousers commented on #267
I have what I think is a similar issue, running nextcloud:fpm, behind Apache running on the host. The cause seems to be that the container can't access the host's Apache:
[code]
I've tried passing `--network=host` to the `docker run`, which should allow the container to access the host network, but then the container won't start as it can't bind to the right port (which is in use on the host for a

[2019-01-12 22:51] annando opened #329 "Diaspora will not support ActivityPub soon"
The app description says ```🙋 Find your friends: No matter if they use Nextcloud, 🐘 Mastodon, 🇫 Friendica, and soon ✱ Diaspora, 👹 MediaGoblin and more – you can follow them!```

It is very unlikely that Diaspora will support ActivityPub in a foreseen amount of time. See the discussion here: https://github.com/diaspora/diaspora/issues/7422

I suggest to remove any reference to Diaspora.

[2019-01-12 23:39] annando opened #330 "@context has to contain 'https://w3id.org/security/v1'"
There are currently problems with Friendica reading a Nextcloud Social profile. The public key cannot be read, since the "@context" doesn't contain 'https://w3id.org/security/v1' as well.

Friendica is compacting the incoming data. Due to the missing context, the key "publicKey" cannot be compacted correctly.

[2019-01-13 16:11] annando commented on #239
I now was able to test it. This seems to work great.

[2019-01-13 16:11] #239 closed

[2019-01-13 16:17] annando opened #331 "Content HTML is not interpreted correctly"
**Describe the bug**
Links from Friendica are interpreted wrongly.

**To Reproduce**
Steps to reproduce the behavior:
* Create a post in Friendica that contains a link
* Send it to a Nextcloud Social account

**Expected behavior**
The link should be accessible.

**Screenshots**
![bildschirmfoto 2019-01-13 um 17 15 42](https://user-images.githubusercontent.com/844208/51087699-e77f0b80-1756-11e9-933

[2019-01-14 08:49] annando commented on #328
Concerning the mentioning I suggest having a look at the "tag" element in the post. This should always contain the links to the hashtags and mentioned profiles, so that you don't need to parse the body itself.

[2019-01-14 09:20] daita commented on #328
Mention and Hastags (#295) are using the "tag" element, however, we're trying to figure out how to replace the link in the message to fit the local instance

[2019-01-14 10:01] daita commented on #328
That is a nice (and quickly to implement) idea, however we should also check for malicious code in the content

[2019-01-14 19:15] Lurkars opened #333 "following / followers counter not working properly"
The following and followers counter in profile view is not updating after follow and following events.

1. Search for account to follow
2. Click on 'Follow'
3. Go to your Profile
4. Following count not incremented

In a first test, re-login corrected the counter, but cannot reproduce, so behavior seems a bit random.

_nc: 15.0.2
social: 0.1.2
ubuntu 18.04, apache 2.4_

[2019-01-15 10:16] daita commented on #333
This information is cached and updated every tick of the cron setup for your nextcloud (should be 15 minutes)

[2019-01-15 10:38] daita commented on #317
@juliushaertl @jancborchardt  what about this ? when you asked to force the social account based on current nextcloud account, you were saying that this can be fixed within the LDAP setup ?

[2019-01-15 14:39] Lurkars commented on #333
Ok, that explained my "random" feeling. (cron is on 15 minutes)
Nevertheless I think it is a bit counterintuitive, especially when you begin with 0 Following, start following some people and don't get direct feedback. That is the first thing people do with this and so for me it was the first thing to report a bug, because 0 Following was displayed when I actually got some.
So should I create a Fea

[2019-01-15 20:52] juliushaertl commented on #333
@daita Maybe we can just update the following count for the current user if you follow someone. That shouldn't be much overhead actually.

[2019-01-16 05:27] imattau opened #339 "Failed to create post error"
Posting to timeline with a public post resulting in failure to create post

**Client details:**
 - OS: Andriod
 - Browser Firefox
 - Version 64
 - Device: Samsung Tab S4

**Social app version:**
0.1.2
**Operating system**:
Linux
**Database:**
Mysql (MariaDB)
**PHP version:**
7.1
**Nextcloud version:** (see Nextcloud admin page)
15.02
<summary>Logs</summary>

#### Nextcloud log (data/nextcloud.log)

[2019-01-16 07:54] daita commented on #333
Did something like this yesterday, i'll check and push today

[2019-01-16 15:32] jancborchardt commented on #317
@jdhirst1 we generally aim to have as few settings and configuration options as possible to make it just work. Is it possible for example to:

- Detect if this LDAP name mapping has been set up
- If it hasn’t, don’t automatically set up Nextcloud Social and ask the admin to set up this domain mapping or accept that all the user identifiers are long character strings
- If it has, just do our normal

[2019-01-16 15:59] daita commented on #317
I have almost no knowledge in LDAP, but the code of the Social app allow to define a different username than the userid when creating a social account. We just need to define a way to link a user to the wanted social-username in a configurable way.

[2019-01-16 16:09] annando commented on #329
Problem is that already there had been some confusion at people thinking that they can now connect to Diaspora with it. So especially non-developers are confused by now.

The core developers had been clear about ActivityPub and Diaspora. They said that none of their core developers will work at it. The only possibility currently seems to be that some new contributor would invest time to work at it

[2019-01-16 17:30] daita commented on #333
should be implemented in 0.2.0: #340

[2019-01-16 17:35] daita commented on #306
interesting, can you create a PR for this fix ?

[2019-01-16 17:58] daita commented on #293
#341

[2019-01-16 17:58] #293 closed

[2019-01-16 18:42] KopfKrieg commented on #267
FYI: I'm running nextcloud 15 in a docker container, behind a proxy which manages SSL through Let's Encrypt. Everything's running fine so far, --network=host is not necessary.

As @graffen mentioned, make sure to set overwrite.cli.url and overwriteprotocol in your config.php like this:
[code]

Also, your proxy needs to rewrite the request like this (same for the apache image and the fpm version!):

[2019-01-16 19:51] juliushaertl commented on #329
I am with @annando here, we should not advertise integration that is most likely not going to happen anytime soon.

[2019-01-17 11:05] jancborchardt commented on #329
Ok, good point then. :) Do you also know about the status with MediaGoblin? Because then we could adjust both to our best knowledge.

[2019-01-17 13:37] zcdunn commented on #329
The [latest mention ](https://mediagoblin.org/news/tpac-2016-and-review-activitypub.html) of ActivityPub on MediaGoblin's website is from 2016. cwebber, the lead dev, has mentioned on the fediverse that they are working on other stuff recently

[2019-01-17 13:37] annando commented on #329
I know MediaGoblin only by name, but I don't have any contact to the developers (in difference to Diaspora).

Concerning AP and Diaspora I just had a talk with some new coder at the project. He will work at many different stuff at Diaspora and only after this all had been done he will be able to focus on AP - so I guess that the most early date to start would be somewhere around 2020. But since Di

[2019-01-17 14:18] HankG commented on #329
I wouldn't bank on it happening at production quality code in 2020 either...it's a nice thought though...it also would probably be as an extension not in the core so I'm not even sure how that would be mentioned even once it is a thing. :)

[2019-01-17 15:56] mrstegeman opened #346 "Network error when searching for external profile"
**Describe the bug**
When searching for a user on an external Mastodon instance, I received a 500 error from the server with the following content:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Social app
2. Search for `@rzr@social.samsunginter.net`
3. View error in browser dev tools

**Expected behavior**
I should see the user's profile.

**Client details:**
 - OS: macOS 10.

[2019-01-17 21:15] KopfKrieg opened #347 "Roadmap/Goals?"
I hope I didn't miss it, but is there some kind of roadmap or a list of goals for the Social app? If not, I'd like to open some kind of discussion about the topic, because I've got a few questions.

As far as I know the Social app implements the ActivityPub protocol which means - in theory - it could work as an (more or less complete) replacement for, e.g., Mastodon (when I say replacement I mean

[2019-01-18 02:34] imattau opened #349 "Timeline(s) failing to update"
Timeline(s) have stopped loading new entries. Failing to refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any timeline.

**Expected behavior**
New 'toots' expected to appear

**Client details:**
 - OS: Android
 - Browser Firefox
 - Version 64
 - Device: Samsung Tablet S4 & Note 8

<details>
<summary>Server details</summary>

**Social app version:**
0.1.2
**Operating system**:
L

[2019-01-18 10:03] #306 closed

[2019-01-18 13:05] juliushaertl commented on #346
@daita

[2019-01-19 11:50] #330 closed

[2019-01-21 14:07] jancborchardt opened #359 "Link to individual post & detail page"
Currently it’s not possible to have only a link for a specific post, like the link with status ID as on Twitter.

This would be helpful for being able to share it with others, and also reading a conversation or tweet in focus.

Interface-wise, you should be able to get to the message detail page by clicking on the date of the post. Then we should have some sort of detail viewer – maybe connected w

[2019-01-21 14:09] jancborchardt opened #360 "Remember scroll position in feed"
**Describe the bug**
The scroll position in the feed is not remembered on navigation, resulting in the annoying need to scroll down again to get back to where you were.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your home timeline or any other timeline
2. Scroll down a bunch, reading posts
3. Click on the username of one of the posts authors
4. Go back

You will end up at the top

[2019-01-22 11:31] jancborchardt commented on #329
What do you think about this:

[2019-01-22 11:51] annando commented on #329
@HankG is the one who will likely implement AP in Diaspora. And you saw what he wrote. He even sees it realistic that AP in Diaspora wouldn't be productive before 2021.

[2019-01-22 12:35] jancborchardt commented on #329
Ok, so then just:

(Because we already mention ActivityPub in another point below.)

[2019-01-22 13:55] jancborchardt commented on #329
Pull request at https://github.com/nextcloud/social/pull/367, please review! :slightly_smiling_face:

[2019-01-22 19:12] gloomytrousers opened #368 "Unable to search for @nextcloud@mastodon.xyz"
**Describe the bug**
I'd like to follow @nextcloud@mastodon.xyz. However, on searching I get "No accounts found for @nextcloud@mastodon.xyz"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Social app
2. Search for "@nextcloud@mastodon.xyz" in the top bar search
3. See message "No accounts found
No accounts found for @nextcloud@mastodon.xyz"
4. See a message `SQLSTATE[22007]: Invalid da

[2019-01-22 21:24] sim6 opened #369 "Profile page doesn't work if /.well-known/webfinger is a redirection"
**Describe the bug**
Error loading Profile page if /.well-known/webfinger is a redirection.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a redirection from /.well-known/webfinger to the nextcloud endpoint.
1. Go to Social app.
2. Click on Profile.
4. See error "Failed to load account details sim6@probeta.net"

<details>
<summary>Server details</summary>
**Social app version:** 0

[2019-01-23 21:19] daita commented on #368
could it be related to https://github.com/nextcloud/social/issues/293 ?

[2019-01-23 21:21] daita commented on #369
Can you paste your configuration regarding the redirection ?

[2019-01-23 21:24] daita commented on #346
This should be fixed in 0.2.0: https://github.com/nextcloud/social/pull/352/files#diff-f34870c53ff0583f4d67d2ea5d71587aR58

[2019-01-23 21:31] gloomytrousers commented on #368
Could be - I did notice the difference between a working account and a non-working one was the lack of emojis in the name.

I will follow the instructions at https://docs.nextcloud.com/server/stable/admin_manual/configuration_database/mysql_4byte_support.html (from #341) as soon as time permits, and report back.

[2019-01-24 03:28] lachlan-00 opened #373 "every page is blank except profile"
I've installed social and reset it a few times using occ but every page is blank except for the profile page. nothing in the error logs, it just seems to do nothing.

NC 15.0.2
Social 0.1.3

If a write a post and send it, it seems to go somewhere but it's not visible on any of the pages.
![image](https://user-images.githubusercontent.com/1305249/51652526-afd85500-1fdb-11e9-9b04-af3617819d4d.png)

[2019-01-24 10:55] daita commented on #369
can you try this:
[code]

[2019-01-24 13:21] daita commented on #373
can you search for a remote account ? can you search for a local account from a remote instance of mastodon ?

[2019-01-24 14:19] Failure404 opened #375 "Signature Exception on Apache behind Nginx proxy"
Hi,
this has been discussed before in #269 but I still get this error and I am a bit lost with troubleshooting this.
`Warning: 500 - {"status":-1,"exception":"OCA\\Social\\Exceptions\\SignatureException","message":"signature cannot be checked"}
POST /index.phpal/inbox
from 163.172.251.107 at 2019-01-24T15:14:56+01:00`
Any help would be greatly appreciated.

[2019-01-24 19:21] gloomytrousers commented on #368
That fixed it :-) I would say the instructions added in #341 don't really go far enough though. This doesn't make clear that this is essentially a required step, if you use MySQL.

[2019-01-24 19:21] #368 closed

[2019-01-24 20:54] dgferrin commented on #373
Same problem here, but solved it clearing caché from browser, now it works fine.

[2019-01-25 10:15] daita commented on #375
You should check if the local time of your server

[2019-01-25 11:40] Failure404 commented on #375
...is correct?
Yes it is. It gets synced with ntp.org. After a manual sync it corrected an offset of 0.602562 sec.
So that is not the cause.

[2019-01-25 11:46] daita commented on #375
Can you describe what you are trying to do and where the log you pasted is coming from ?

[2019-01-25 12:03] Failure404 commented on #375
Yes of course.
I am trying to get the social app working on my Nextcloud 15.0.2 running on an Apache behind an Nginx reverse proxy on a Debian Jessie system.
For testing I am trying to "follow" the nextcloud account on mastodon.xyz. I can see this account being followed, but no posts or anything else is coming in.
In my nextcloud log I can see the following appearing over and over again:
`[no app

[2019-01-25 12:11] Failure404 commented on #375
It just occurs to me... could this have to do something with the fact that I am using "pretty URLs"?
`POST /index.phpal/inbox` in my nextcloud log, and
`POST /apps/social/inbox` in my apache log

[2019-01-25 16:44] Failure404 commented on #375
Nope, that must be a weird nextcloud logging bug.
However, after a reset of the social app the error message at least contains my name now.
`{"reqId":"XEs701VyjHQAAAYhTwkAAAAJ","level":2,"time":"2019-01-25T17:39:47+01:00","remoteAddr":"163.172.251.107","user":"--","app":"no app in context","method":"POST","url":"/index.phpal/@Failure404/inbox","message":"500 - {\"status\":-1,\"exception\":\"OCA\\\

[2019-01-25 16:51] #329 closed

[2019-01-26 11:17] daita commented on #375
I don't understand why it is ending by `.phpal`

[2019-01-26 15:47] LeoSum8 opened #376 "Empty Timeline, others don't see me following"
**Describe the bug**
I notice several issues, that I believe are related.
1. I am able to add profiles to my "following" list by searching for them and clicking follow in my nextcloud instance. However I do not appear in their "follower" list.
2. My global timeline stays empty. There are no entries but my own.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow my own profile on another m

[2019-01-26 15:48] LeoSum8 commented on #376
I imagine that this is a little sparse info to diagnose antyhing. What additional info shall I provide?

[2019-01-27 18:22] gloomytrousers opened #377 "Warn user if MySQL is not correctly configured"
**Is your feature request related to a problem? Please describe.**
When MySQL is not configured with innodb_file_per_table=1 and utf8mb4 collation, there are problems related to emojis (#368, #293). The fix is now mentioned in the README (#341) but this could easily be missed.

**Describe the solution you'd like**
As per the comment from @9662 in #341, this could be detected (`select @@innodb_file

[2019-01-28 10:21] daita commented on #375
I got an error on your cloud itself now :(

[2019-01-28 10:56] LeoSum8 commented on #376
done! thanks!

[2019-01-28 11:09] Failure404 commented on #375
Seems like my Fail2ban didn't like your user agent ;-)
Please try again.

[2019-01-29 00:03] lachlan-00 commented on #373
Clearing cache gives me the pages and the test posts are apparently there now.

If i go to another federated mastadon should i be able to find my @user@server?

[2019-01-30 08:39] juliushaertl commented on #253
Fixed by https://github.com/nextcloud/social/pull/382

[2019-01-30 08:39] #253 closed

[2019-01-30 16:01] juliushaertl commented on #373
@lachlan-00 Did you have a previous version of social installed before 0.1.3, so that there could be outdated js files in the cache?

[2019-01-31 12:22] daita commented on #369
those lines needs to be in the Apache config file of your website, within the `<VirtualHost>`

[2019-01-31 12:51] WanTanFao commented on #369
Is there a way to handle this within .htaccess?

Got the following rules enabled on irgendwo.co to use irgendwo.co as my federation domain while serving neuland.irgendwo.co as Mastodon frontend:

`<IfModule mod_rewrite.c>
	RedirectMatch ^/.well-known/host-meta$ https://neuland.irgendwo.co/.well-known/host-meta

	Redirect /.well-known/webfinger https://neuland.irgendwo.co/.well-known/webfinger

</I

[2019-01-31 12:55] susobaco commented on #369
Adding those lines configured for my server in /etc/apache2/sites-available/nextcloud.conf inside the <Virtualhost> section I still have the same error message:

500 - {"status":-1,"exception":"OCA\\Social\\Exceptions\\RequestContentException","message":"404 - {\"host\":\"palautgn.duckdns.org\",\"url\":\"\/.well-known\/webfinger\",\"timeout\":10,\"type\":0,\"data\":{\"resource\":\"acct:admin@*****

[2019-01-31 18:09] daita commented on #369
@WanTanFao you're right: currently Nextcloud Social will not allow a 302 (Redirection) this is why Rewrite is better.

I will implement this in 0.2.0

[2019-02-01 09:36] daita commented on #375
So, I can send a command line curl request to your webfinger from my work station, but it is timing out from my dev env (not the same IP)

[2019-02-01 09:49] #369 closed

[2019-02-01 10:09] daita commented on #376
Can you make your redirect more like this (in the .htaccess at the root of your website)

[code]

Also, check the .htaccess which is at the root of your Nextcloud and see if the line about webfinger point to /nextcloud/public.php[...]:

[code]

[2019-02-01 11:49] Failure404 commented on #375
Timing out from 163.xxx.xxx.xxx ?
That should also be fixed now.
Sorry for the trouble, after 25 years of Internet my ban hammer has become quite large and bans everything which smells like trouble.

[2019-02-01 11:52] daita commented on #375
no, 91.121.xxx.xxx or 91.134.xxx.xxx

[2019-02-01 12:13] Failure404 commented on #375
Fixed :-)

[2019-02-04 04:38] phaus commented on #317
I had the same problem.
You need to go to the LDAP Settings and into Expert mode.
Then you can override the default UUIDs:

<img width="1307" alt="screenshot 2019-02-04 05 36 29" src="https://user-images.githubusercontent.com/346361/52190350-f1b89500-283e-11e9-9668-c6ed3f327128.png">

Unfortunetally, you will loose the connection between user and data. So you will get new users and you have to cop

[2019-02-04 09:57] daita commented on #317
@phaus thanks for your answer, would it be possible to assign the username to a custom variable and get it from the front-end ?

[2019-02-04 10:01] MorrisJobke commented on #317
There is no such option in Nextcloud. Keep in mind that the userID could always be super cryptic. This is the reason why we have also a login name (which is by default the email address if it is unique) and the display name. There is no way around this.

[2019-02-04 10:04] MorrisJobke commented on #317
cc @schiessle @nickvergessen @rullzer Same stuff that is also with the federation ID present: the userID is the internal representation and it was a bad habit to use it in user facing parts of our system. It could be cryptic, long and only works by accident to login. We really need to think about this a bit more. :(

[2019-02-05 09:16] daita commented on #375
blocked once again, after few requests. This could be the issue

[2019-02-05 11:58] Failure404 commented on #375
No,
it doesn't like empty user agents. Your last request didn't have a user agent set.
I have temporarily disabled this.

[2019-02-06 00:52] emersonkfuri commented on #373
That happened to me! I had 0.1.2 and only after clearing my browser cache, I was able to proper load the app.

[2019-02-06 13:06] #373 closed

[2019-02-06 17:38] abmurksi commented on #229
It has been fixed and backported to NC15: https://github.com/nextcloud/server/pull/13252

[2019-02-07 10:25] daita commented on #375
So, I can search for an account, I guess we can say that the app is well configured.
But when I want to follow your account I got a timeout. Could it be an issue with your firewall (again) ?

[2019-02-07 10:29] daita commented on #375
nevermind, even command line curl request times-out:

maxence@stealth:~$ curl -H "Accept: application/ld+json; profile=\"https://www.w3.org/ns/activitystreams\"" -X GET  https:\/\/cloud.[example.net]/apps\/social\/@Failure404 | jq
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0

[2019-02-07 10:30] daita commented on #375
nevermind, even command line curl request times-out:

[code]

I am starting to think that the issue is from your network !

[2019-02-07 11:40] Failure404 commented on #375
I can see your attempts, all GETs seem to work ok but all POSTs result either in
"OCA\\\\Social\\\\Exceptions\\\\InvalidOriginException"
or
"OCA\\\\Social\\\\Exceptions\\\\SignatureException"

[2019-02-08 18:38] mracreep commented on #233
I did remove the "oc_social" tables manually and removed the folder for the social app.
then i reactivated the app, but it throws an internal server error.
and i've seen that it doesnt recreate the social tables.
what can i do?

[2019-02-09 14:04] zachdecook commented on #294
@daita When I run `./occ config:app:get social address`, it gives me the http version (I use https).

Can this be fixed somehow?

[2019-02-09 14:11] daita commented on #294
`./occ social:reset`

[2019-02-09 20:05] violoncelloCH opened #408 "navigation not rendered on master"
**Describe the bug**
on master branch I see an empty navigation area (at the left) and an error in the console:
[code]
if I checkout the latest tag v0.1.4 and rerun `make build-js` it's working... if I checkout master again and build vue, the error is back...

cc @juliushaertl

[2019-02-09 22:10] pongraczi commented on #376
Hi, I have similar problem:
- I cannot see any posts from my contacts on Mastodon / global list empty, no posts from them
- the private message sent from my nextcloud to them does not appear on his message board
- from Mastodon I cannot find my nextcloud account
- from my nextcloud I can search and add contacts from Mastodon (nextcloud@mastodon.xyz, pongraczi@mastodon.social), their avatars and mo

[2019-02-10 20:20] LeoSum8 commented on #376
So you suggest sort of daisy-chaining the webfinger redirects, do I understand you correctly?

My current settings for webfinger are as follows:

.htaccess in website root:
[code]

.htaccess in nextcloud subfolder:
[code]

with this setup I get no warnings in the nextcloud settings page, and I can call the well-known webfinger both via
[code]
and
[code]

After your suggestion, I changed that to th

[2019-02-11 12:04] daita commented on #349
might be related to #412.

[2019-02-11 12:39] Aranad opened #413 "Public key not found"
**Describe the bug**
Federation is not working. I can follow a remote account, but cannot post to its stream or direct message it. The log is showing a ```Public key not found``` response.

**Client details:**
 - OS: Linux Mint 19
 - Browser Firefox 65
 - Device: Laptop

**Social app version:** 0.1.4

**Operating system**: Debian 9.7

**Web server:** Nginx 1.10.3

**Database:** MariaDB 10.3.12

**

[2019-02-11 17:26] juliushaertl commented on #408
@violoncelloCH Make sure to run `npm install` since the dependencies have been updated and you need to make sure they get installed on your local installation.

[2019-02-11 17:27] juliushaertl commented on #408
Note you will probably need to run npm install everytime you switch between any v0.1.x branch and master, since dependencies have changed there as well.

[2019-02-11 18:16] daita commented on #375
I would need more details about this, like:

- set `'loglevel'` to 1 in config.php
- reset everything using `./occ social:reset`
- send a message to your local account from a remote account (mastodon ?)

Send me all lines related to the social app in your `data/nextcloud.log`: maxence@nextcloud.com

[2019-02-11 18:39] daita commented on #413
Where did you get the `Public key not found` message from ?

This is what I have when requesting your instance of Nextcloud:

[code]

However, it seems your redirection from .well-known/webfinger to public.php is not working good. Can you provide more details on the setup of your httpd ?

[2019-02-11 22:39] violoncelloCH commented on #408
ahh, thank you @juliushaertl ...
it's working again... didn't knew a npm install was necessary, thought a rebuild would be sufficient...

[2019-02-11 22:39] #408 closed

[2019-02-13 16:39] WNYmathGuy commented on #331
Just to add a little here,
[code]
never made it from Friendica to Nextcloud, but ...
[code]
did make it from Friendica to Nextcloud.

On a happy note though, public posts on Friendica do propagate over once the follow relationship is made in Nextcloud.

[2019-02-13 20:22] juliushaertl commented on #331
Let's keep track of that in #328, which addresses the same :wink:

[2019-02-13 20:22] #331 closed

[2019-02-13 20:40] sim6 commented on #369
Thank you very much!

[2019-02-13 21:05] sim6 opened #418 "Profile page tries to load wrong user"
**Describe the bug**
My user is sim6@probeta.net, my server is probeta.net. So my cloud ID is sim6@probeta.net@probeta.net. Yes, so ugly. I would prefer sim6@probeta.net. Is there a way to change it?
With the current configuration, the Profile page tries to load wrong user.

**To Reproduce**
Steps to reproduce the behavior:
1. With sim6@probeta.net user.
2. Go to Social app
3. Click on 'Profile'
4

[2019-02-14 06:09] copiis opened #421 "Could not extract app social when try to install from repo"
Getting this wenn i try to download and install from repo

[code]

[2019-02-17 08:40] Glebelg2 commented on #376
Dear, I face exactly the same problem as pongraczi.

I can follow mastodon accounts but I can't see any messages (nor when clicking on their profile nor in the global timeline).

Nextcloud 15.0.4
Social 0.1.4
Apache 2.4.38

my .htaccess shows:
`...
  RewriteRule ^\.well-known/webfinger https://my.server/public.php?service=webfinger [QSA,L]
...`

Thanks for your help

[2019-02-18 18:44] poVoq opened #427 "Group integration via !bang tags"
**Is your feature request related to a problem? Please describe.**
Would be nice to allow people to write to a group on Nextcloud social and have automatically a group channel that can be written to by using the !bang tag like in Friendica, Hubzilla or GNUSocial.

**Describe the solution you'd like**
Compatible group / forum channel implementation similar to Friendica or Hubzilla on ActivityPub th

[2019-02-18 18:50] poVoq commented on #145
Mastalab is rebranding to Fedilab to enable more Federated platforms: https://gitlab.com/tom79/mastalab
Might be a good time to get it working with this :)

[2019-02-18 19:14] paulvt opened #428 "Cannot find some contacts; database error"
**Describe the bug**
When I try to search for "gnome@foss.social" (Mastodon) in the app search, it cannot find it. The Nextcloud log contains a database-related error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Social app
2. Click in the search field
3. Type "gnome@floss.social"
4. See error in logs

**Client details:**
 - OS: Debian GNU/Linux 9
 - Browse: Firefox
 - V

[2019-02-19 07:03] juliushaertl commented on #427
@daita Duplicate of #231 but it seems this is a possible solution on how the implementation could be handled.

[2019-02-19 07:58] poVoq commented on #427
Sorry didn't see the other issue.

@annando since you (?) recently implemented the same thing on ActivityPub for Friendica, any tips? Maybe there is even a chance to share some php code?

[2019-02-19 08:52] annando commented on #427
Code sharing won't be possible since most of the group handling is not in the AP implementation but the core.

The idea that we want to implement (we are not completely done at the moment) is that when writing a post with a ```!```, then the message is public, but only sent to the group account. The group account then receives the posts. It recognizes the ```!``` and does an ```Announce``` of this

[2019-02-19 10:18] daita commented on #427
This will be a needed feature; and the implementation of a !bang seems fun enough.

I will have a look on how Group as Actor can be handled.

[2019-02-20 19:11] aliceinwire commented on #268
I get this issue

[code]

[2019-02-20 20:17] juliushaertl commented on #231
_[poVoq](/poVoq) wrote in #427:_

[2019-02-20 20:17] juliushaertl commented on #427
Let's track this in #231

[2019-02-20 20:17] #427 closed

[2019-02-23 00:34] #155 closed

[2019-02-23 00:34] #158 closed

[2019-02-23 00:37] daita opened #434 "three-dot-menu overlay"
@violoncelloCH reported this during the dev: https://github.com/nextcloud/social/pull/323#pullrequestreview-206276749

when the three-dot-menu is opened and you hover it again, a "more actions" popover is shown over the open menu, what doesn't really make sense... I think this should not be shown if the menu is already open...

[2019-02-24 08:25] aliceinwire opened #438 "fosstodon account add fail"
[code]

[2019-02-24 14:30] aliceinwire commented on #438
resetting didn't help.
I'm on 0.2.0-dev01

also this error:

xt | 500 - {"status":-1,"exception":"OCA\\Social\\Exceptions\\ItemUnknownException","message":""}
-- | --

[2019-02-24 17:48] aliceinwire commented on #438
I could solve my issue by getting into mysql and doing a horrible hack :sob:
[code]

have fun!

[2019-02-24 17:52] aliceinwire commented on #438
Probably we could write a migration for it.

[2019-02-26 01:34] aliceinwire commented on #145
https://git.pleroma.social/pleroma/pleroma/tree/develop/lib/pleroma/web/mastodon_api

[2019-02-26 10:09] daita commented on #438
thanks for the catch, i'll work on some migrations !

[2019-02-26 12:56] gytisrepecka opened #440 "Profile fields shown regardless privacy setting"
Even if user sets in Settings, e.g. Profile picture visibility to Local (Only visible to local users), in Social page for that user image is still shown to everybody.

Expected scenario would be:
- if selected Public, picture is shown to everybody;
- if selected Contacts, picture shown to followers (local or federated servers);
- if selected Local, only visible to local users and hidden from anyon

[2019-02-28 20:50] violoncelloCH commented on #132
@juliushaertl
I'm finally trying to do this, but I think I would need the source .svg file of the base64 data uri string
[code]
or is there an other way to do this without a .svg?

[2019-02-28 21:29] violoncelloCH commented on #132
nevermind, found a way to decode the base64...

[2019-03-01 13:48] #132 closed

[2019-03-03 09:46] suffixbabai opened #452 "nginx + snap nextcloud + social app dont work :("
Ubuntu 18.04
Nextcloud 15.0.5 (snap)
Social app 0.1.4
Nginx 1.14.0

1.
`curl https://suffix.cloud/.well-known/webfinger?resource=acct:suffix@suffix.cloud`

`{"subject":"acct:suffix@suffix.cloud","links":[{"rel":"self","type":"application\/activity+json","href":"https:\/\/suffix.cloud\/index.php\/apps\/social\/@suffix"}]}`

2.
`curl -H "Accept: application/ld+json" -X GET https://suffix.cloud/apps/

[2019-03-04 12:21] daita commented on #452
Can you please try this:

`./occ social:reset` and at the end of the process, set the url to `https://suffix.cloud/index.php`

[2019-03-04 12:33] suffixbabai commented on #452
Of course, I already did. I first read all similar topics here. But it did not help.

[2019-03-06 07:13] suffixbabai commented on #452
:(

[2019-03-06 16:56] violoncelloCH commented on #438
fixed by #439

[2019-03-06 17:18] #438 closed

[2019-03-20 10:42] juliushaertl opened #470 "Remove travis builds"
All our tests run on drone, so the travis builds can be removed. Not even sure why they were activated :woman_shrugging:

[2019-03-27 15:08] Tealk commented on #339
Have the same Problem.

**Client details:**
- OS: Windows
- Browser: Firefox

**Social app version:**
0.1.4
**Operating system**:
Debian Stretch
**Database:**
Mysql (MariaDB)
**PHP version:**
7.3
**Nextcloud version:**
15.0.5
**Logs:**
`{"reqId":"890P463T6dCdjIVgoIWG","level":2,"time":"27.03.2019 16:00:32","remoteAddr":"212.211.192.4","user":"xxx","app":"no app in context","method":"POST","url":"\

[2019-03-28 08:20] walley commented on #440
you are lucky, my avatar is NOT shown regardless of settings:)

[2019-04-02 20:48] gytisrepecka commented on #440
Interesting :) I'll try to check where exactly avatars are rendered - maybe it's a quick if... else...

[2019-04-03 16:42] cedjo opened #480 "nextcloud + docker + social => not work"
cannot follow or be followed.

when doing this:

`curl https://nc.virtualconfusion.net/.well-known/webfinger?resource=acct:cedric@nc.virtualconfusion.net`

I received this:
`{"subject":"acct:cedric@nc.virtualconfusion.net","links":[{"rel":"self","type":"application\/activity+json","href":"https:\/\/nc.virtualconfusion.net\/apps\/social\/@cedric"}]}`

when doing this:
`curl -H "Accept: application/

[2019-04-03 18:10] cedric commented on #480
Ha, the `@cedric` in your URLs trigger a notification for me. :) Maybe use the "insert code" tags? No biggie.

[2019-04-03 19:27] cedjo commented on #480
Can you explain more? I did not follow you. thanks

[2019-04-03 19:30] cedric commented on #480
Your comment includes code and commands that have `@cedric` in it. Since it's just entered as text, Github will alert the user with the **@cedric** username. If you use the backticks around your code, then they display it as code and also don't send notifications for Github usernames.

[2019-04-03 19:32] cedjo commented on #480
got you, sorry for this.

[2019-04-04 08:56] yonatanmm commented on #339
help:  failed to create post using social app

[2019-04-04 12:56] cedjo commented on #480
I solved the issue with DB clean-up:

`delete from oc_social_server_actors where id='https://nc.virtualconfusion.net:6443/apps/social/@cedric';`

[2019-04-04 12:56] #480 closed

[2019-04-09 07:28] rikmeijer commented on #376
This pull request helped fixing the empty timeline https://github.com/nextcloud/social/pull/490

[2019-04-16 10:02] paulquirk opened #492 "No app in context warning"
My Nextcloud log shows dozens of these warnings every day, each one from a different IP address running Social 0.1.4:
----------------------------------------------------------------------------------------------------------
[no app in context] Warning: 500 - {"status":-1,"exception":"OCA\\Social\\Exceptions\\InvalidOriginException","message":""}

POST /index.php/apps/social/inbox
from 136.243.88.

[2019-04-17 08:50] daita commented on #492
Hello,

You should have some logs before this one showing the incoming request. would you mind sharing one of them ?

[2019-04-25 03:58] sunjam commented on #245
Does this mean Nextcloud would need to support webtorrent as well, since it is an underlying technology of Peertube?

[2019-04-25 04:07] sunjam opened #499 "Ostatus Protocol Support"
Ostatus, [as referenced here](https://github.com/nextcloud/social/issues/268), pre-dates ActivityPub and is supported by major projects like Mastodon and Pleroma as a sort of federation fallback.  Others can likely provide more details.

[2019-04-25 06:48] Chocobozzz commented on #245
@sunjam No, because of *The UI renders an embed with oembed* nextcloud would just have to create an iframe of a PeerTube player that will handle P2P stuffs.

[2019-04-25 08:53] thecyberd3m0n commented on #492
I have same problem
[code]
when trying to configure Social app

my host is https://tcdintranet.icu

[2019-04-25 09:09] daita commented on #492
@thecyberd3m0n please create a new report with the value of:

[2019-04-25 09:35] thecyberd3m0n commented on #492
[admin@TCDCLOUD001 ~]# occ config:app:get social address
https://tcdintranet.icu

[2019-04-25 11:07] shtrom opened #500 "Post count on public page includes private posts"
**Describe the bug**
On a fresh account, I have posted 4 message to my followers, and 2 to the public. The public page when not logged in shows both public posts, but confusingly still indicates that I have a total of 6 posts.

**To Reproduce**
Steps to reproduce the behavior:
1. Post a message to followers
2. Post a message to the public
3. Log out and go to the public profile
4. See only the pub

[2019-04-25 22:17] poVoq opened #501 "Switch to common AP backend library?"
**Is your feature request related to a problem? Please describe.**
Development of this app seems to have slowed down a lot... while still missing a lot of vital AP features for it to become really usable. Thus it would probably good to find ways to reduce the workload and utilize standards libraries.

**Describe the solution you'd like**
There is a new php-activitypub library that was specifically

[2019-04-28 14:40] jdormit commented on #501
Developer of ActivityPub-PHP here. Happy to collaborate - the library is probably still a month or two out from being usable, but I would love start talking about adoption in the wider AP community.

[2019-04-30 15:28] r3pek opened #505 "Support for host-meta"
**Is your feature request related to a problem? Please describe.**
Support to have the federated domain be different from the domain where nextcloud is published.

**Describe the solution you'd like**
Mastodon supports this using the [host-meta](https://github.com/tootsuite/documentation/blob/master/Running-Mastodon/Serving_a_different_domain.md#webfinger). One can have a user named @r3pek@nakeddo

[2019-04-30 16:49] lafnlab commented on #501
I'm interested in anything that will make it easier to federate apps. I've working off and on on Amore, but haven't implemented ActivityPub yet. ActivityPub-PHP looks like it will save people a lot of work.

[2019-05-03 18:18] guzzisti opened #506 "installation fails due to db error "primary index name ... too long""
**Describe the bug**
App can not be installed on NC 16.0.0 as a error during db-migration occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Social on the Apps-Page of your nextcloud instance
2. Click on 'Download and enable'
3. Error message *Primary index name on "prefix_social_server_follows" is too long.*
4. App is not installed.

**Expected behavior**
App is installed correct

[2019-05-11 14:19] lachmanfrantisek opened #519 "New release"
**Is your feature request related to a problem? Please describe.**

I do not want to rush you, but would it be possible to release a new version?

The [last version](https://github.com/nextcloud/social/releases/tag/v0.1.4) was released some time ago (on 9 Feb) and there are already many nice features done in the [0.2 milestone](https://github.com/nextcloud/social/milestone/2?closed=1).

I am just

[2019-05-12 21:23] thecyberd3m0n commented on #492
any further suggestions? Should I change something to make it work?

[2019-05-17 19:28] emacsen commented on #118
Is there any news on this? I'm strongly considering moving to Nextcloud Social but I don't want to lose all my data, so import is extremely important (and of course export as well).

[2019-05-17 20:35] jancborchardt commented on #519
@daita could you push a new version? :)

[2019-05-17 20:37] jancborchardt commented on #118
@emacsen thanks for your enthusiasm! :) We are still working on basic features and stabilizing the app (boosting posts just got implemented some weeks ago), but this is scheduled for 0.3 so it is definitely upcoming! :) Any help is welcome, even if you can just spread the word, maybe among developers you know who could contribute.

[2019-05-17 21:17] daita commented on #519
alpha2 is almost ready, the core structure looks stable and data migrations should be good enough (also migration does not delete old tables; the deletion will be done in further release of alpha2 if there is no complains).

The release is blocked by some task on the front-end, and I am not good at Vue... if anyone of you is willing to have a look and help on this, do not hesitate to ask and/or pu

[2019-05-17 21:27] daita commented on #506
fixed in alpha2

[2019-05-17 21:28] daita commented on #501
Thank for your support, however the issue is not with the ActivityPub itself, but the lack of developer for the front-end of the app.

[2019-05-17 21:33] daita commented on #500
fixed in alpha2

[2019-05-17 21:35] daita commented on #501
Anyone good with Vue is welcomed !

[2019-05-18 01:05] #500 closed

[2019-05-18 06:16] guzzisti commented on #506
Issue has been fixed for me after upgrading to NC 16.0.1. I guess it was related to https://github.com/nextcloud/server/pull/15312

[2019-05-18 06:16] #506 closed

[2019-05-18 16:30] violoncelloCH commented on #519
I'll try to find some time during the next two weeks to do [2]... :)

[2019-05-18 20:46] lachmanfrantisek commented on #519
@daita Thank you for the response.

I'll try to test it. Thanks!

I am more a python guy, so I am not sure if it would be useful. Maybe a challenge for me to learn some php/vue stuff...;-)

You can probably move some issues from [milestone 2](https://github.com/nextcloud/social/milestone/2) to see what's really missing for the final release...

Thank you for all your work!

[2019-05-22 08:09] daita commented on #519
@nextcloud/vue anyone ?!

[2019-05-28 09:03] daita commented on #452
might be fixed in next major release alpha2

[2019-05-28 09:08] daita commented on #505
This is something to be implemented in the core, not in the social app. Not sure I have time for NC17, maybe 18

[2019-05-28 09:13] r3pek commented on #505
@daita shouldn't be too hard to implement since there should be some kind of infrastructure in place. If you could point me to where it should be implemented, i may try to help out.

[2019-05-28 10:32] daita commented on #505
You can have a look to `lib/webfinger.php` in the social app.
The file is called by core on webfinger request:

For the host-meta, you will need to create a new file there and setup this way:

Some links:
- https://github.com/nextcloud/server/blob/master/.htaccess#L46-L48
- https://github.com/nextcloud/social/blob/ec822a440bbc9b81005921c6430640d5388e5289/lib/Service/AccountService.php#L218

[2019-05-29 23:44] #324 closed

[2019-05-29 23:44] daita commented on #519
thanks to @violoncelloCH for the work on Announce/Boost !

[2019-05-31 01:39] toolstack opened #552 "Upgrade to 0.2.0 fails due to invalid time/date format on SQL Insert"
**Describe the bug**
Upgrading to 0.2.0 failes to insert values in to the oc_social_a2_actors table due to the creation field being added is blank:

SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: '' for column 'creation' at row 1

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade the plugin to 0.2.0 from 0.1.4

**Expected behavior**
Successful upgrade.

**Scree

[2019-05-31 01:52] toolstack commented on #552
P.S. I disabled social through occ to get my server back up and running.  I can re-enable it and do any testing you need though.

[2019-05-31 02:12] Doc-Saintly commented on #552
Can you provide the command you used to disable it? I'm not as familiar with OCC and my server is currently unusable because of this.

[2019-05-31 02:23] daita commented on #552
Do you have logs ?

Also, which was the version of your first install of the social app ?

[2019-05-31 02:29] daita commented on #552
Could you try this patch ?

[2019-05-31 02:29] daita commented on #552
@Doc-Saintly :

[2019-05-31 02:34] toolstack commented on #552
@Doc-Saintly I also had to disable maintenance mode:

```./occ maintenance:mode --off```

@daita I'll try the patch now.

[2019-05-31 02:42] toolstack commented on #552
@daita cleared the first error but threw the same incorrect date/time error for the oc_social_a2_cache_documts table.

[2019-05-31 02:43] daita commented on #552
the exact same error message ?

[2019-05-31 02:45] toolstack commented on #552
See below, I've removed a couple of the identifing values and replaced them with "remove":

An exception occurred while executing 'INSERT INTO `oc_social_a2_cache_documts` (`id`, `id_prim`, `type`, `parent_id`, `media_type`, `mime_type`, `url`, `local_copy`, `public`, `error`, `creation`, `caching`) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)' with params ["removed", "removed", "Image", "", "", "",

[2019-05-31 02:48] daita commented on #552
ok, I pushed a new commit, should be fine now !

new patch: https://github.com/nextcloud/social/pull/553/files#diff-1e5010c6976d84782166771e56d48b43

or full file to replace: https://raw.githubusercontent.com/nextcloud/social/a68c35e01f3e7fb99e6f2d77e43ce6715d694f40/lib/Migration/Version0002Date20190506000001.php

[2019-05-31 02:53] toolstack commented on #552
Ok, no more date/time format errors but now I get an error on the oc_social_a2_actors for the id_prim value (not sure if I need to remove the value for this report, but I did just in case):

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'removed' for key 'PRIMARY'

[2019-05-31 02:56] daita commented on #552
can you drop data from all oc_social_a2_* tables ?

[2019-05-31 02:57] toolstack commented on #552
Drop the tables or delete the data?

[2019-05-31 02:59] toolstack commented on #552
Ok, I truncated the tables and re-enabled the app, seems to be working now.

[2019-05-31 03:02] daita commented on #552
both would work.

But if you prefer, you also try the last commit that should catch the duplicate entry exception and keep with the migration: https://github.com/nextcloud/social/pull/553/commits/b13ade6938701ae7a8c38be9984651991a953109

[2019-05-31 03:03] daita commented on #552
thanks for your report and support

[2019-05-31 03:03] #552 closed

[2019-05-31 03:05] toolstack commented on #552
No problem, thanks for the quick response.

[2019-05-31 04:00] Doc-Saintly commented on #552
I applied the patch and then tried the web updater again. There was an error (but I couldn't find the details), and then it was stuck in maintenance mode. After disabling maintenance mode the social app does not load. I there a way to reset all configurations and DB data back to the "original", or do I need to remove the plugin and manually drop the tables?

[2019-05-31 04:02] Doc-Saintly commented on #552
Also, my initial error was different:
`Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO `oc_social_a2_actors` (`id`, `id_prim`, `user_id`, `preferred_username`, `name`, `summary`, `public_key`, `private_key`, `avatar_version`, `creation`) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?)' with params ["https:\/\/my.nextcloud.com\/apps\/social\/@user", "id_prim", "user

[2019-05-31 08:05] daita commented on #552
you should not need to drop the tables, upgrade the app to 0.2.1 and enable it.

If you have issues, drop the tables named 'oc_social_a2_*' and enable the app.

[2019-05-31 08:15] Doc-Saintly commented on #552
This results in a server error. Shall I drop all oc_social_* tables and give it another try? I noticed the oc_social_a2_* tables were not re-created after enabling the app.

[2019-05-31 09:33] daita commented on #552
can you provide some log ?

If the tables are not re-created, it means the migration process were successful at the one time.

Run this SQL request:
[code]

And try enabling the Social app again (v0.2.1).
Refresh your page on Nextcloud.
If your the migration process is not triggered, and the app is enabled:

Refresh your page on Nextcloud.

[2019-05-31 09:40] Doc-Saintly commented on #552
Here's the logs. Perhaps the smbclient is something different, but the only thing I changed today was the Social app

{"reqId":"qLJlxFUPrYfBYTVq0KdH","level":0,"time":"2019-05-31T17:37:27+08:00","remoteAddr":"45.32.35.77","user":"user","app":"no app in context","method":"GET","url":"\/apps\/social\/","message":"No cache entry found for \/appdata_oc34rlv2m70p\/theming\/images\/background (storage:

[2019-05-31 12:03] KopfKrieg opened #558 "Installation of version 0.2.1 fails on PostgreSQL"
**Describe the bug**
I've tried to install version 0.2.1 on my test system using Nextcloud 16 with PostgreSQL 11. I've had version 0.1.4 running before, but disabled it. After the latest release I wanted to test it again, but the following error occurred after trying to update it:

[code]

I tried to completely remove the app using occ app:remove social, which worked fine, but now I'm not able to

[2019-05-31 12:09] lachmanfrantisek commented on #552
I got another error on update:

[code]

(Using postgres as a database.)

[2019-05-31 12:32] lachmanfrantisek commented on #552
Btw, is there some way to go back to the old version after the broken update? It allows me only to enable the `2.1` version...

Thanks!

[2019-05-31 12:47] Ceralor commented on #552
Yeah, this got closed because it was the same error but it's not resolved. Having to manually delete records from the database feels really sketchy.

[2019-05-31 12:54] lachmanfrantisek commented on #552
I think that this issue is a little bit different.

My problem and the one described in #558 seems more related to postgres compatibility....

[2019-05-31 16:06] agates commented on #558
Ran into this last night too... seems something is off with the library the code is using to pull the data.  I checked the existing follows table to verify that the values were not empty strings, and they do indeed exist as non-null booleans in my case at least.  So I don't know why it's converting them to empty strings here.

[2019-05-31 17:02] daita commented on #558
I will work on a patch (I am currently moving) but you can still downgrade to 0.1.4: your old database is untouched !

- download [Social v0.1.4](https://github.com/nextcloud/social/releases/download/v0.1.4/social-0.1.4.tar.gz) and extract the content in your apps/ folder
- downgrade the version in the database:

[2019-05-31 17:05] daita commented on #552
@lachmanfrantisek exactly. I have updated #558 with procedure to downgrade to 0.1.4.

Thanks for your report, I will do some test on pgsql later tonight.

[2019-05-31 17:16] YoSiJo opened #559 "Data too long for column 'cc' at row 1"
**Describe the bug**
I get the error message "SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'cc' at row 1" when I upgrade to 2.0.0 or possibly 2.0.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade the plugin to 0.2.[01] from 0.1.4
2. Disable the app after failed.
2. Find this: https://github.com/nextcloud/social/issues/552
3. Run "DELETE FROM oc_social

[2019-05-31 17:18] lachmanfrantisek commented on #558
@daita Thanks for the info!

Do I need to manually remove database tables created by the failed upgrade when you release the fixed version?

[2019-05-31 17:37] YoSiJo commented on #559
Ok I have now also tried it with DROP TABLES. But the result remained the same.

And here more migration datas:
[code]

[2019-05-31 18:31] lachmanfrantisek commented on #558
Thanks, looking forward to the fixed version. Thank you for your work!

[2019-05-31 19:34] KopfKrieg commented on #558
Unfortunately it didn't work:

[code]

I got the error now with version 0.1.4. What I don't understand: On another system, that didn't have the social app installed until now, v0.2.1 works without problems (completely same setup).

If I want to start all over, do you know what I need to do? AFAIK uninstalling/removing the app and dropping all tables with oc_social_a2* should be enough, right?

[2019-06-01 10:55] guzzisti opened #560 "new lines are trimmed from posts"
**Describe the bug**
Newlines are completely trimed from posts, no matter if remote posts (e.g. Mastodon) or a post in Nextcloud Social.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post that contains newlines
2. Click on "Post"
3. Post is shown without newlines.

**Expected behavior**
Newlines are honored in posts.

**Screenshots**
![image](https://user-images.githubusercontent.

[2019-06-01 11:27] guzzisti commented on #560
I tried to digg a bit deeper into the code, for me it seems like newlines are encoded as html entities and these are stripped completely of the post text:
![Screenshot_2019-06-01_13-23-28](https://user-images.githubusercontent.com/10488791/58747819-b76ba700-8470-11e9-8c15-1241a2792229.png)

[2019-06-02 10:36] daita commented on #559
Hello @YoSiJo, we're facing a really edgy use case. Was wondering if you often share a post to such a long list of users ?

I will release a version 0.2.2 later today, please run a 'DROP table oc_social_a2_stream' before applying the new release.

[2019-06-02 10:38] daita commented on #560
@juliushaertl @violoncelloCH  any idea about this ? I will check on my side if the back-end is doing something bad.

[2019-06-02 11:04] YoSiJo commented on #559
Not really conscious.
Today I had the opportunity to take a closer look and have now downgraded to version 0.1.4 again.
I used the "Social" app early on to integrate various contacts from other mastodon instances.
In addition, I currently have 55 users in the NC instance. I think this will result in a high number of shared contacts.
Currently none of the `*social_a2_*` tables exist anymore. So I j

[2019-06-02 12:10] #558 closed

[2019-06-02 12:33] guzzisti commented on #560
I guess it's a backend issue as it happens to federated posts as well, e.g. Mastodon:
original
![image](https://user-images.githubusercontent.com/10488791/58761328-53fe7980-8543-11e9-8338-09713af22c97.png)

Nextcloud Social
![image](https://user-images.githubusercontent.com/10488791/58761330-5fea3b80-8543-11e9-8aab-4c8fd1f0ffba.png)

[2019-06-02 13:00] daita commented on #558
please test 0.2.2

[2019-06-02 13:18] lachmanfrantisek commented on #558
[code]

[2019-06-02 13:20] lachmanfrantisek commented on #558
@daita Thanks for the new version. Can you please take a look at the error?

[2019-06-02 15:43] daita commented on #560
could be the front-end :-)

I checked and the content sent by the front-end to the back-end when creating a new Post is already parsed/trimed

[2019-06-02 15:52] daita commented on #558
Thanks for the report, one of the file is not loaded when using the command line. However, can you update it using the web client ?

[2019-06-02 15:54] lofmer opened #565 "Can't use Social - buttons do not work"
### Steps to reproduce
There are different aspects of the problem:

1
- search for an user
- click "follow"

2
- create a post
- select privacy settings for the post
- click on "Post" (publicly, ...)

### Expected behaviour
1
- button turns grey and is labled "Following"
- you follow the user

2
- the post should be shared

### Actual behaviour
1
- button turns grey and is labled "Following"
- you

[2019-06-02 17:08] YoSiJo commented on #559
Upgrade is done. But now i have a with screen on the Social App.
I'm not sure, but I think the message is related:
[code]
It always appears with some delay.
Screenshot: https://nc.waimanu.io/s/DYyY78ixZNDfbWG

[2019-06-02 19:48] lachmanfrantisek commented on #558
Works well, I thought it would be safer to use CLI...;-) Thank you for the tip!

[2019-06-02 20:05] daita commented on #559
Can you try to remove the social app (remove the files, not touching the database) and reinstall it ?

[2019-06-02 20:29] lachmanfrantisek opened #566 "F5 on /apps/social/timeline forwards to /apps/files/"
### Steps to reproduce
1. Open the home page of the social app
2. Press `F5` (or `Ctrl`+`F5`)

### Expected behaviour
Refresh the current page.

### Actual behaviour
Forwards to Files app.

## Server configuration detail

**Operating system:** Linux 4.4.0-143-generic #169-Ubuntu SMP Thu Feb 7 07:56:38 UTC 2019 x86_64

**Webserver:** nginx/1.15.12 (fpm-fcgi)

**Database:** pgsql PostgreSQL 10.8 on

[2019-06-02 20:30] YoSiJo commented on #559
# Log
[code]
After this, have i install the app over the web interface.
But the Social screen was empty.
Firefox Console:
[code]
I did a relogin (I use the "Nextcloud Notification" 2FA app), but the Firefox massage was the same and the screen is empty.

[2019-06-02 20:43] daita commented on #559
can you temporary disable the ojsxc app to see if you have any conflict ?

[2019-06-02 20:48] daita commented on #559
Also, when you set `loglevel => 1` do you have anything in the logs ?

[2019-06-02 20:54] daita commented on #566
Thanks for your report !

[2019-06-02 20:55] lachmanfrantisek commented on #559
I am hitting the same errors.

Webfinger calls return 404 and `/apps/social/@user` as well. I do not receive any remote messages...

Maybe related to my issue: #566

[2019-06-02 20:58] daita commented on #565
Do you have any logs on the server side ?

Can you run the above command and try again:

[2019-06-02 21:00] daita commented on #559
can you try #567 ?

[2019-06-02 21:17] YoSiJo commented on #559
My config is:
[code]
Is think higher is not possible. But i can't see helpfull log massages. :/
Unfortunately, deactivating the "ojsxc" did not change the circumstance.
Then i have added the changes from hier: https://github.com/nextcloud/social/pull/567/commits/db5ff4e09b1eb06d50d00ab1230b07f0a7f8fde5
Now i see this:
[code]
But the Screen is Empty.
My instance is free for registrations and you ca

[2019-06-02 21:22] YoSiJo commented on #559
Ok, with a new user, it's the same behavior.
If you have registered, I can also mount the app folder in your home directory. Then you can test a bit more agile.

[2019-06-02 21:34] violoncelloCH commented on #560
it could also be that the frontend trims it on displaying as well...
I can check this, but not sure when, because I currently don't have much spare time...

[2019-06-02 21:50] daita commented on #559
@juliushaertl  @violoncelloCH  @skjnldsv  any reason for those red line in JS console ? any conflict with any other app ?

![Selection_064](https://user-images.githubusercontent.com/1038617/58767825-02bcad00-8578-11e9-954e-ac94db47fe81.png)

[2019-06-02 21:53] YoSiJo commented on #559
Currently I have reactivated the "ojsxc" again. If a longer deactivation is necessary, I still have to announce this to my users.
Then please let me know again.
Currently I have only announced maintenance work for today.

[2019-06-02 22:10] #566 closed

[2019-06-03 06:25] YoSiJo commented on #559
I once gave your account access to the app folder. Currently only reading. If you need writing rights, please confirm this again. Just want to make sure that I don't give write permissions to the wrong account.

[2019-06-03 06:26] lofmer commented on #565
I found nothing in the nextcloud.log. Is there another logfile that might be helpful?

I did, there is no output and nothing else happened. The problem remains. Btw it affects all users.

[2019-06-03 07:24] lachmanfrantisek opened #568 "Errors on Global Timeline"
### Steps to reproduce
1. Install the current master.
2. Open the Global timeline.

### Expected behaviour
The timeline does not contain multiple retweets and there is no error in the browser log.

### Actual behaviour
There are multiple retweet texts in the row (see the pictures). The laptop seems very busy when I have the page opened.

![Snímek z 2019-06-03 09-10-31](https://user-images.githubus

[2019-06-03 07:24] lachmanfrantisek commented on #566
Tested the master and works well. Thanks for the fix.

[2019-06-03 07:27] lachmanfrantisek commented on #559
The refreshing works well, but webfinger works only for one account from two that I tested...

[2019-06-03 07:47] lachmanfrantisek commented on #566
@daita After some testing I am not sure about the content of the "home" (`/apps/social/timeline`) and "local timeline" (`/apps/social/timeline/timeline`). It looks like they return the same content. (Same image since I have nothing there.)

Is this expected? I can create a new issue, but I am not sure if this is not related to your routing changes...

[2019-06-03 08:14] skjnldsv commented on #559
Not that I'm aware of.
@ChristophWurst ?

[2019-06-03 08:47] ChristophWurst commented on #559
That u2f app you've loaded tries to overwrite the browser built-in global `u2f`.

[2019-06-03 09:33] YoSiJo commented on #559
The app was only installed but not activated. But I have deleted these now.
![Screenshot_2019-06-03 Apps - Nextcloud](https://user-images.githubusercontent.com/42408075/58791784-2113be80-85f3-11e9-9eb5-3d6d0812dbf0.png)

[2019-06-03 09:36] ChristophWurst commented on #559
It's not the official `twofactor_u2f`, that apps handles this well. It's about this: https://github.com/rcdevs/openotp_authentication_nextcloud/blob/nextcloud-v13/js/fidou2f.js#L17

[2019-06-03 09:51] YoSiJo commented on #559
Ok, i have disable and remove this app.
![Screenshot_2019-06-03 Apps - Nextcloud(1)](https://user-images.githubusercontent.com/42408075/58793156-db0c2a00-85f5-11e9-91d0-49bfe3ca0bac.png)

[2019-06-03 12:10] daita commented on #559
i got your shared folder, i'll have a look later on this one.

[2019-06-03 12:46] BrettRD opened #569 "internal server error after update to 0.2.2"
Loading Social 0.2.2 causes an internal server error.
Nextcloud 15.0.8 installed from ubuntu snap

`QueryException    Could not resolve accountService! Class accountService does not exist`

The error persists when the app is reset via occ,
and persists when the app is removed and reinstalled via the browser

Other info:
Social 0.2.1 was previously installed and suffered from the blank timeline bug

[2019-06-03 16:21] YoSiJo commented on #559
Good, now have you rw rights.

[2019-06-03 18:06] paulvt commented on #558
I just went via 0.2.1 to 0.2.2, both via the web update (and also on PostgreSQL), but I am now looking at a white page for the app on all my instances. There are no errors in the logs?

[2019-06-04 06:14] susobaco commented on #492
Hello, I have the same error, with the same command output: occ config:app:get social address
https://palautgn.duckdns.org  (my domain)

My system is debian stretch with nginx/1.17.0, PHP 7.3.5, MariaDB-1:10.3.15, Nextcloud 16.0.1 ,Social 0.2.2

[2019-06-04 06:43] YoSiJo commented on #559
For information: I have a few other NextCloud instances. One of them also has "Social" installed. There I also updated to version 2.2.0. Unfortunately with the same result.
If you need information from this instance, please let me know.

[2019-06-04 18:39] KopfKrieg commented on #558
The upgrade to v0.2.2 worked, thank you :)

[2019-06-04 19:58] lachmanfrantisek opened #570 "Webfinger does not work for existing users after upgrade to 0.2.2"
I probably messed some problems with #559, but it is probably not related. So I am creating a new issue.

Again, thank you for your time and work!

### Steps to reproduce

1. Try to call webfinger url  (`.well-known/webfinger?resource=acct:user@my.nextcloud`) for user created before upgrade.
2. Try to call account url in "Private window" of Firefox (`/apps/social/@user`) for user created before up

[2019-06-04 20:07] lachmanfrantisek commented on #570
It does not work even in the profile page (`scoutadmin` is old user, `tester` is the new user):

![Snímek z 2019-06-04 22-04-14](https://user-images.githubusercontent.com/20214043/58910138-12bdc380-8715-11e9-9d83-8b74cc897fd0.png)
![Snímek z 2019-06-04 22-03-58](https://user-images.githubusercontent.com/20214043/58910139-12bdc380-8715-11e9-85e9-c9e02ddbd575.png)

[2019-06-06 01:04] daita commented on #559
Let's close this ticket. Upgrade to 0.2.3 and open a new one if you still have issue

[2019-06-06 01:04] #559 closed

[2019-06-06 02:13] daita commented on #570
is it fixed in 0.2.3 ?

[2019-06-06 02:23] daita commented on #570
Can you check if the entries of your local users in the table _'oc_social_a2_cache_actors'_ have the _'local'_ field set to _true_ ?

[2019-06-06 07:14] lachmanfrantisek commented on #570
No, they have `False`...

Do I need to set them manually? Nevertheless, there should be some problem with the migration.

[2019-06-06 07:27] lachmanfrantisek commented on #570
When I change the value to True, webfinger endpoint and profile page work well.

[2019-06-06 07:38] lachmanfrantisek commented on #570
It can be easily fixed by one query. Something like this:

[code]

I am only not sure how it can be checked/fixed in some migration.

[2019-06-06 08:07] lachmanfrantisek commented on #570
Now, the profile page shows 0 followers, 0 following. (Thats not true.)

I can follow already followed people, but they are not shown in the profile page and I can do this multiple times..

![Snímek z 2019-06-06 09-59-35](https://user-images.githubusercontent.com/20214043/59016980-c96b9200-8842-11e9-8b2a-76e0c434803a.png)
![Snímek z 2019-06-06 09-59-55](https://user-images.githubusercontent.com/20

[2019-06-06 08:19] daita commented on #570
yes, this was my follow up question: checking the _'accepted'_ field within the _'social_a2_follows'_ table.

[2019-06-06 08:26] lachmanfrantisek commented on #570
True only for the "new" accounts. What is the meaning of "accepted"? (Who need to accept the following?)

Can I fix the problem with turning them to `TRUE` or is there some federation problem that can be caused by this.

Thank you!

[2019-06-06 08:33] daita commented on #570
i will work on a release to fix thoses for old entries

[2019-06-06 08:36] lachmanfrantisek commented on #570
OK, thank you.

I change/fix only the `oc_social_a2_cache_actors` table. Do I need to revert these changes to be able to use your fix?

[2019-06-06 08:37] daita commented on #570
no

[2019-06-06 16:51] N07070 opened #571 "Unable to load Social app after update to 0.2.2"
**Describe the bug**
The page is blank, with the exception of the nav bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 0.2.2
2. Click on the social app icon.
3. See error

**Expected behavior**
Use the social app.

**Client details:**
 - OS: Debian 9
 - Browser: Firefox
 - Version: 60.6.3esr
 - Device: Desktop

<details>

**Social app version:** 0.2.2

**Web server:** Ngninx

*

[2019-06-07 06:17] lachmanfrantisek opened #572 "Blinking timeline on loading"
Sorry for creating another issue, but not sure if you know about this...

### Steps to reproduce
1. Install the current master.
2. Open the Global timeline.
3. Go down to see more messages.

### Expected behaviour

1. See the loading wheel.
2. See new messages after a while.

### Actual behaviour

- The timeline is blinking. (Also when scrolling up.)
- The new messages sometimes do not occur.
- Th

[2019-06-07 07:04] laarisyko commented on #571
I got the same issue here. I have Nextcloud 15 and I wanted to try Nextcloud social. I have installed over the app manager. If I click on the icon, I just get a blank page. Would love to try this app! This is a great idea to integrate nextcloud in this network.

[2019-06-07 09:17] MaximilianAst opened #573 "Cannot subscribe to librem.one user"
### Steps to reproduce
Steps to reproduce the behavior:
1. Go to 'https://social.librem.one/@lunduke'
2. Click on 'Follow'
3. Enter your id (i.e. @user@nextcloud.hostname.com)
4. See error RequestContentException (on https://nextcloud.hostname.com/index.php/apps/social/ostatus/follow/lunduke%40librem.one)

### Expected behaviour
I should be subscribed to @lunduke@librem.one

### Actual behaviour
I

[2019-06-09 04:45] aliceinwire commented on #294
./occ social:reset didn't work for me
but the previously mentioned curl command is giving good output

[2019-06-10 12:11] lofmer commented on #565
error.log:

`2019/06/10 10:45:33 [error] 6364#6364: *13423 open() "/etc/nginx/html/robots.txt" failed (2: No such file or directory), client: XX.X.XXX.XXX, server: meinedomain.de, request: "GET /robots.txt HTTP/1.1", host: "ZZ.ZZZ.Z.ZZZ"
2019/06/10 10:45:34 [error] 6364#6364: *13424 open() "/etc/nginx/html/sitemap.xml" failed (2: No such file or directory), client: XX.X.XXX.XXX, server: meinedomai

[2019-06-11 13:20] daita commented on #572
@juliushaertl  any idea ?

[2019-06-11 14:23] daita commented on #573
Thanks for your report;

would be nice to implement it in both ways:

- checking host-meta on remote request
- helping to implement on local instance (#505)

[2019-06-11 15:00] juliushaertl commented on #572
Looks like it is caused by the transition that is used to show new posts. It should probably be limited to only happen when creating own posts.

[2019-06-12 18:18] daita commented on #571
Do you have any error code other than 200 in the 'Network' tab of the Developer Tools of your browser ?

[2019-06-14 20:34] lachmanfrantisek commented on #572
I found another problem triggered by this:

The messages from the global timeline are shown also in the local timeline. It should be empty in the following example.

Steps to reproduce:
1. select local timeline (no messages ✔)
2. select global timeline (some messages ✔)
3. select local timeline (no messages ✔)
4. select global timeline (some messages ✔)
5. scroll down (blinking and no new message)

[2019-06-17 07:42] MaximilianAst commented on #573
I found a workaround for librem.one. Copy the URI from the popup-window to a new tab. Now add social in the URI:

user%40librem.one to user%40social.librem.one

https://nextcloud.hostname.com/index.php/apps/social/ostatus/follow/user%40social.librem.one

[2019-06-18 02:06] daita commented on #570
#584 should fix migrations.

if you want to try the PR:

- `./occ config:app:set --value '0.2.0' social installed_version`
- refresh the page.

[2019-06-18 08:43] rhonda opened #585 "Mentions in toots get linked to local accounts instead of remote information"
**Describe the bug**

In the global timeline I have toots with a fair amount of mentions from accounts that I follow remotely.  When those contain @ mentions of other accounts, those are considered to be local accounts and link to /apps/social/@user which doesn't exist instead of /apps/social/@user@server/ which would bring up the profile information for the remote account

[2019-06-18 09:23] daita commented on #572
do you still have blinking issue if you unfollow Federation Bot ?

[2019-06-18 10:28] lachmanfrantisek commented on #572
@daita I need to fix the migration problems first to check it properly. (I cannot easily edit the follows...)

Home timeline without FederationBot works well, but the global timeline with FederationBot has the loading problem...

[2019-06-18 10:39] daita commented on #572
Can you give me that full social address of the Federation Bot ? is it an account I can follow myself ?

[2019-06-18 10:43] lachmanfrantisek commented on #572
Of course:
@federationbot@mastodon.host
https://mastodon.host/@federationbot

It produces a lot of spam/messages...;)

I've been following it during my setup because it is very active...

[2019-06-20 17:52] daita commented on #572
I am rewriting the Announce stream (#586) and it should fix this issue. I will do some test on big scale on my side to confirm the improvement.

[2019-06-20 19:02] lachmanfrantisek commented on #572
Thank you!

[2019-06-21 21:00] lachmanfrantisek commented on #572
@daita

Thanks for the update. I've tried to upgrade with the following result:

1. Update in the web console failed.
2. Update in the console took a long time. (Maybe a reason for the failure in the browser..?)
3. Getting a following error in the browser:

[code]

(Seeing this in all timelines and no messages are loaded..)

[2019-06-21 21:03] Lars1963 opened #587 "Update social 0.2.4 failing"
Just tried to update social to 0.2.4. Update failing due to invalid datetime format. Database is MariaDB 10.3.16

'''HORUS
Aktualisierung auf 16.0.1
Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'UPDATE `oc_social_a2_cache_documts` SET `caching` = ? WHERE `id` = ?' with params ["", "https:\/\/cloud.therapiecenter.org\/documents\/avatar\/88a614ef-99ef-4d53-9f5e-4920

[2019-06-21 21:24] daita commented on #572
ok, let's see how the timeline handle within the next hours, after more Post are generated. The issue could comes from old posts.

[2019-06-21 21:25] lachmanfrantisek commented on #572
OK, I'll let you know...

[2019-06-21 21:37] daita commented on #572
Anyway, if I were you, after a backup of the table `oc_social_a2_stream` I would try to run:

`DELETE FROM oc_social_a2_stream WHERE type='Announce';`

[2019-06-21 23:51] daita commented on #587
what was your version of the social app before ?

[2019-06-22 01:17] daita commented on #587
Please try 0.2.5

[2019-06-22 06:50] lachmanfrantisek commented on #572
Thanks for the tip -- I'll try that tomorrow and let you know.

As by now, still no new messages in the timeline....

[2019-06-22 08:31] Lars1963 commented on #587
Version before was 0.2.4

[2019-06-22 09:18] daita commented on #572
If, after running the SQL request, you still can't see anything, you should empty the table totally (keep a backup, in case), and see if it fixes your issue. Emptying the table means that old posts will be lost, but new posts should be available after this.

[2019-06-22 14:18] Lars1963 commented on #587
@daita
So now I could do some maintenance ;)
I had to disable the app with the occ first. After that I could update the app as usual on the admin page and enable the app afterwards. Seems to be working al fine right now.

As the problem ist solved for me, I'll close the issue

[2019-06-22 14:18] #587 closed

[2019-06-23 10:29] daita commented on #573
Please confirm issue is fixed in 0.2.5

[2019-06-23 10:29] daita commented on #572
Please confirm issue is fixed in 0.2.5

[2019-06-23 10:31] daita commented on #571
Please confirm issue is fixed in 0.2.5

[2019-06-23 10:33] daita commented on #570
Please confirm issue is fixed in 0.2.5

[2019-06-23 10:33] daita commented on #569
Please confirm issue is fixed in 0.2.5

[2019-06-23 10:34] daita commented on #568
Please confirm issue is fixed in 0.2.5

[2019-06-23 10:34] daita commented on #565
Please upgrade to 0.2.5 and confirm if issue is still here.

[2019-06-23 10:35] daita commented on #505
feature released in 0.2.5

[2019-06-23 10:35] #505 closed

[2019-06-23 10:37] #333 closed

[2019-06-23 13:32] N07070 commented on #571
Fixed and working ! Thanks a lot for the quick fix !

[2019-06-23 13:32] #571 closed

[2019-06-23 19:35] r3pek commented on #505
@daita for some strange reason, it still doesn't work :( (i might actually be missing something)
When I use occ social:reset, what URL should I use?

[2019-06-23 19:55] jkolo opened #591 ""Failed to load more timeline entries" on timeline."
**Describe the bug**
"Failed to load more timeline entries" on timeline.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to social app
2. See error

**Expected behavior**
Posts are displayed on timeline view

**Client details:**
 - OS: Arch Linux
 - Browser Firefox
 - Version 67.0.4
 - Device: laptop

<details>
<summary>Server details</summary>

**Social app version:**
2.5

**Operating sy

[2019-06-23 22:54] KopfKrieg opened #592 ""Failed to load account details user@server.tld""
**Describe the bug**
After one of the latest upgrades (to v0.2.4 or v0.2.5, not sure, sorry) I'm not able to use the Social App anymore because the following error occurs:

[code]

The issues #570 and #591 might also be related to this problem. Also, I was affected by a bug in v0.2.1 alredy, maybe this has something to do with it (#558, but this was solved in version 0.2.2).

**To Reproduce**
Step

[2019-06-23 22:59] KopfKrieg commented on #592
Regarding issue #570 I'd like to add the following output:
[code]

Shouldn't there be an entry for my user?

[2019-06-24 09:31] daita commented on #505
The URL in social should be the url from the cloud.

To enable host-meta on apache (on your alias):

[code]
 and run the occ command:

[2019-06-24 10:32] fbrinker commented on #591
I'm having the same problem. The DBAL\\Exception looks like if there is a missing ANY_VALUE for `s.type` regarding a possible `ONLY_FULL_GROUP_BY` MySQL server directive?

It's this query:
https://github.com/nextcloud/social/blob/20a4cb0b6f547fc85b3e05cd5a1de247d33ad918/lib/Db/StreamRequestBuilder.php#L95

After removing the groupBy it worked (but with a changed functionality I guess... ;)
I could

[2019-06-24 12:54] shtrom opened #594 "Incorrect Author in home view"
**Describe the bug**
Recent posts I wrote (with 0.2.5) appear as authored by a different, remote, user I'm following (but improperly linked as a local one, reminiscent of #585). The same message is, however, shown as properly authored by me in the Local timeline.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home
2. Post a message
3. See message as posted by different user in Home vi

[2019-06-24 16:32] blizzz commented on #470
fixed with #472

[2019-06-24 16:32] #470 closed

[2019-06-24 16:39] blizzz commented on #317
In federated sharing there is a similar problem, and a – given ugly – workaround to use and resolved the (last) loginname. It's stored in the user session. This also means it is (without further magic, there's nothing in place to reverse lookup a login attribute) only known after a first login.

[2019-06-24 21:36] r3pek commented on #594
I'm seeing the same behaviour, but nothing shows up on the "Local timeline"

[2019-06-24 21:38] r3pek commented on #573
I'm seeing the behaviour (well, kinda) on https://mastodon.social/@x0rz and https://botsin.space/@duckduckgo

Reply status is (after clicking "follow"):

status | -1
-- | --
exception | "OCA\\Social\\Exceptions\\ItemUnknownException"
message | ""

[2019-06-24 22:06] BrettRD commented on #569
0.2.5 does indeed fix the error!
Thanks!

[2019-06-24 22:06] #569 closed

[2019-06-24 22:07] daita commented on #573
hmm x0rz ? from #linuxfr ?

[2019-06-24 22:11] r3pek commented on #573
Yes, I think that's the one.

[2019-06-24 22:16] daita commented on #573
it's been a while ...

[2019-06-24 22:16] r3pek commented on #573
well, it's not me :) I just follow him there ;)

[2019-06-24 22:18] daita commented on #573
i understood that ;-)
still reminds me how old we are !

[2019-06-24 22:19] r3pek commented on #573
Don't even tell me about it ;) (3 kids aren't easy :angel: )

[2019-06-25 14:03] 360fun commented on #421
same problem here! 😢

[2019-06-25 15:23] #573 closed

[2019-06-25 15:27] daita commented on #594
should be fixed on 0.2.6

[2019-06-25 15:57] daita commented on #594
https://github.com/nextcloud/social/releases/tag/v0.2.6

@shtrom if you want to give a try. i'll release it later tonight.

[2019-06-26 08:07] lofmer commented on #565
The issue is still there. However, due to #594 I see some of the posts from the past, even if I can't see that I am following anybody (in my case: @nextcloud@mastodon.xyz) and I do not see any real posts made by this account.

![Screenshot](https://user-images.githubusercontent.com/52236037/60162520-ff74b400-97f9-11e9-9fc8-965a34a2bf42.png)

[2019-06-26 18:49] lofmer commented on #565
Still exists with 0.2.6, #594 seems to be fixed, the old posts are gone. However I still can't post anything or follow other users.

[2019-06-26 19:54] r3pek commented on #594
@daita don't know about @shtrom, but on my case, now they don't even show up. Local timeline still empty and "0 posts" on the profile.

[2019-06-26 19:56] r3pek commented on #594
actually, and related to the issue i'm commenting on (sorry for the little OT on the previous comment), the @ tags still link to "local" users.

[2019-06-26 20:09] daita commented on #594
Do you have any errors in nextcloud log or console?

[2019-06-26 20:14] r3pek commented on #594
@daita No errors. My posts does show up on the timeline (not local), if I @ tag someone. posts without tag don't show up at all.
Links to tagged users also still don't work because it thinks they're local (doesn't contain the domain part as Social does when you tag someone).

(if you're around IRC/XMPP we can chat there, which is maybe easier than chatting here :P )

[2019-06-26 21:44] daita commented on #594
try to catch me (Cult) on freenode, also; was it working nice on 0.2.5 ?

[2019-06-27 07:13] lachmanfrantisek commented on #572
Sorry for my delay. I had a very busy week.

In `0.2.6`, the blinking and loading problems disappeared and I'm seeing new posts. (I do not need to remove anything.) Thank you for the fix!

The weird thing is, that the loading stops working when I see the message by Federationbot (8 days old). Maybe, it will work correctly in the future. If you think it's not relevant anymore, we can close this iss

[2019-06-27 07:21] lachmanfrantisek commented on #568
Sorry for the delayed response.

I've updated to `0.2.6` and:
- The multiple retweets by FederationBot disappeared.
- There are still empty spaces between some posts. (Space for the attached image? What is the status of toots' attachments?)
- As I wrote [in the other issue](https://github.com/nextcloud/social/issues/572#issuecomment-506223137), the loading stops when I see a post by Federationbot.

[2019-06-27 07:23] lachmanfrantisek commented on #570
I've updated to `0.2.6` and it looks like it was not solved. I'll play with it tonight more deeply and add some logs/error messages.

[2019-06-27 08:57] daita commented on #592
yes, should be.

please run: `./occ social:cache:refresh`

[2019-06-27 09:27] daita commented on #591
fixed in 0.2.6 ?

[2019-06-27 10:03] daita commented on #594
seems to be fixed. issue reported by @r3pek is about followers-only post not displayed. will be fixed in 0.2.7

[2019-06-27 10:10] #594 closed

[2019-06-27 10:11] #572 closed

[2019-06-27 10:12] daita commented on #421
can you describe your process of installation ?

[2019-06-27 10:12] #413 closed

[2019-06-27 10:13] daita commented on #428
Should be fixed since 0.2.x

[2019-06-27 10:19] 360fun commented on #421
I just downloaded and unpacked manually the source code in the root of my shared hosting (connected to a subdomain), everything else seems working :)

[2019-06-27 10:21] copiis commented on #421
I click on the download link, the APK is downloaded with the browser. And Thema i click in Install

Google Play protect is disabled and the installation from external sources is enabled

[2019-06-27 10:29] violoncelloCH commented on #434
why have you closed this? is it solved?

[2019-06-27 10:45] daita commented on #434
my bad :]

[2019-06-27 11:39] shtrom commented on #594
Yup, 0.2.6 seems to work. Cheers!

[2019-06-27 12:07] copiis commented on #421
The error message comes when I try to install the app from the app area.

[2019-06-27 12:07] copiis commented on #421
The error message comes when I try to install the app from the app area.

[2019-06-27 12:17] daita commented on #421
@360fun you need to build the app by running `make`

@copiis do you have issue with other apps ?

[2019-06-27 12:19] copiis commented on #421
Yes with "Carnet" i have the same issue.

[2019-06-27 13:14] 360fun commented on #421
I installed it from the App installer:
![image](https://user-images.githubusercontent.com/844090/60269154-33310600-98ee-11e9-8a4c-df3d6880bdb6.png)
![image](https://user-images.githubusercontent.com/844090/60269194-46dc6c80-98ee-11e9-9f16-cc785416a573.png)

[2019-06-27 14:08] daita commented on #421
do you already have a social folder with wrong rights in nextcloud/apps/ ?

[2019-06-27 14:19] copiis commented on #421
There is noc "social" folder in the app folder

[2019-06-27 16:32] MaximilianAst commented on #573
@daita

Just Updated to 0.2.6 and it's fixed

[2019-06-27 20:56] lachmanfrantisek commented on #570
It looks like the numbers (Follows/Followers) are right, but I cannot follow a new account:

- browser log:
[code]
- nextcloud log:
[code]

[2019-06-27 21:02] lachmanfrantisek commented on #570
Private messages from the "old" account does not work as well:

[code]
[code]

[2019-06-28 05:01] lachmanfrantisek commented on #519
I think you've already released a new version..;-) Thanks for it.

[2019-06-28 05:01] #519 closed

[2019-06-28 07:19] fbrinker commented on #591
Yes, it's working again, at least for me :)
What was the solution? There are package updates only, or am I missing something?

But the global time line is loading very slow, but that's another story

[2019-06-28 14:27] 360fun commented on #421
nope... :(

[2019-06-30 20:35] mcphail commented on #591
Still not working for me on 0.2.6

[2019-06-30 21:52] fbrinker commented on #591
With the same error message? Could you provide any more details @mcphail ?

Since, as far as I can see, the group by is removed from that query in the current version, it should work, at least there shouldn't be any error with missing aggregator functions in a group by query :)

I have the problem that loading the global timeline takes ages, but that's another story

[2019-07-01 07:12] mcphail commented on #591
Yes, get the same error message. I'm using the Nextcloud snap. Social had been working reasonably well on the 1.x versions but hasn't worked for me at all since 2.x. I've performed a `reset` since then and lost my followers list. I can't make any posts. Updated to the latest version of Social last night and still got the error message from the title. Logs show:

[code]

[2019-07-01 10:30] daita commented on #591
as @fbrinker, GROUP BY are totally removed in 0.2.6 so this request should not exist anymore.
If you think that some files were not replaced during the upgrade, I would advice you to totally remove social from your nextcloud and reinstall the code.

[2019-07-01 11:32] mcphail commented on #591
I've disabled then removed the Social app, then selected `Download and enable`. The version is 0.2.6. I'm still getting the "Failed to load more timeline entries" error message and those same errors in the log. Is there something else I should be doing to purge the app before I reinstall?

[2019-07-01 12:28] daita commented on #591
I have no idea, I would check that the social app is unique and the right version is installed

- run the occ command: `./occ config:app:get social installed_version`
- Within the social app folder, run: `grep groupBy * -r`

To fully purge the app:

- remove the `social` folder in your `apps` folder (check all custom apps folders)
- run those SQL commands:
- `DELETE FROM oc_appconfig WHERE appid='

[2019-07-01 16:30] mcphail commented on #591
Thanks for the help. Unfortunately that didn't help. However, in a fit of pique I ran `snap restart nextcloud` which seems to have miraculously fixed things! I'm seeing posts now, albeit they are from 18 days ago. I assume this was a snap issue and will ping @kyrofa to see if he wants any information to debug.

Thanks for your help and sorry for the noise.

[2019-07-01 16:51] brentbiglin commented on #170
Hi! I'm an interaction designer. Would some mockups help?

[2019-07-01 21:44] fbrinker commented on #591
So i guess we can close this, @jkolo ?

[2019-07-01 23:16] #591 closed

[2019-07-02 06:00] KopfKrieg commented on #591
@daita Thanks, purging everything fixed the issue for me :)

[2019-07-02 06:01] KopfKrieg commented on #592
Purging everything using your post from issue #591 fixed this also. I'll close the issue.

[2019-07-02 06:01] #592 closed

[2019-07-02 09:30] paulvt commented on #428
Yes, indeed, this is fixed. Thanks :+1:!

[2019-07-02 09:30] #428 closed

[2019-07-02 22:55] mrstegeman commented on #346
This seems fixed now. Thanks!

[2019-07-02 22:55] #346 closed

[2019-07-03 17:18] jospoortvliet commented on #347
I can recommend to look at the milestones: https://github.com/nextcloud/social/milestones

That's essentially the current roadmap.

it is indeed true that Nc is a ActivityPup server able to connect to Mastodon servers and federate with others who have implemented this API.

[2019-07-04 09:03] #347 closed

[2019-07-04 12:13] daita opened #605 "Notifications Timeline"
**Back-end ready**

We need to display notifications in their own feed.

- [x] Un-commenting [those lines](https://github.com/nextcloud/social/blob/106e70f39db2b2f92f0a45049811fe15fb0b3701/src/App.vue#L139-L148)
- [x] display actor info on '**new follower**'
- [x] display accounts list on '**boosted post**'
- [x] display accounts list on '**liked post**'
- [x] display post block on '**boosted post

[2019-07-04 12:19] daita commented on #570
would it be possible to set the `id` field from your table `oc_social_a2_request_queue` to auto-increment ?

[2019-07-04 12:32] daita commented on #568
attachments are received but not displayed.

I'll close this ticket as for now.

[2019-07-04 12:48] daita commented on #501
Closing this issue

[2019-07-04 12:48] #501 closed

[2019-07-04 12:50] daita commented on #492
should be fixed in 0.2.6

[2019-07-04 13:04] daita commented on #418
duplicate/related to #585

[2019-07-04 13:05] daita commented on #376
is it fixed in 0.2.6 ?

[2019-07-04 13:08] daita commented on #359
might be related also to the 'replied-to' displays

[2019-07-04 13:08] daita commented on #375
I would assumed it is fixed as I haven't got any feedback

[2019-07-04 13:08] #375 closed

[2019-07-04 13:09] daita commented on #349
is it still relevant ?

[2019-07-04 13:10] daita commented on #339
is it fixed in 0.2.6 ?

[2019-07-04 13:11] LeoSum8 commented on #376
Yes, although I'm not sure if it was fixed by 0.2.6 or by running the `occ social:reset` command.
Sorry!

[2019-07-04 13:11] #376 closed

[2019-07-04 13:14] daita commented on #277
@jancborchardt  can we close this ?

[2019-07-04 13:14] pongraczi commented on #376
Yes, it seems working well, there are posts as expected:

![Kijelölés_074](https://user-images.githubusercontent.com/5891983/60669351-68010800-9e6e-11e9-9529-1f0562fe7144.png)

[2019-07-04 13:18] daita commented on #268
still having issue with 0.2.6 ?

[2019-07-04 13:19] daita commented on #499
Some functionality of Ostatus are now implemented in the alpha2. I think those implemented functionality are enough.

If anything is needed, please provide more details !

[2019-07-04 13:19] #499 closed

[2019-07-04 13:21] Ninalimpi commented on #277
Guys you can close this... There is no need to attribute me or unDraw and you are only using 8 images which is cool and no need to discuss it further. The problem and main reason we switched from MIT was that people were ripping unDraw constantly, skyrocketing the CDN costs that we pay ourselves, without any purpose, other than promoting themselves. Btw, thank you for the attribution so far!

[2019-07-04 13:22] daita commented on #186
not sure what we're talking about here, should we close this one ?

[2019-07-04 13:22] Failure404 commented on #375
It's not fixed. I simply gave up on it. I couldn't provide any more info than I already did.
I went to a full blown Mastodon instance instead. This here is too pre-alpha for me.

[2019-07-04 13:37] daita commented on #183
https://github.com/nextcloud/server/pull/16231

[2019-07-04 13:43] Tealk commented on #339
I don't get an error message when I make a post but I don't see it anywhere.
And I don't even see subscriptions anymore.

[2019-07-04 14:19] daita commented on #452
please confirm the issue is fixed in 0.2.6

[2019-07-04 15:56] susobaco commented on #492
Yes, thank you.

[2019-07-04 16:52] #277 closed

[2019-07-04 16:53] #492 closed

[2019-07-04 17:47] aliceinwire commented on #268
let me check

[2019-07-04 17:54] aliceinwire commented on #268
dosen't change for me

[2019-07-04 17:58] aliceinwire commented on #268
works for me.
I can follow most of my mastodon contacts now.

[2019-07-04 18:08] aliceinwire commented on #268
but pleroma and status.fsf.org dosen't work

[2019-07-04 18:41] daita commented on #268
any account I can try ?

[2019-07-04 18:45] aliceinwire commented on #268
https://status.fsf.org/fsf
https://pleroma.soykaf.com/main/ostatus

[2019-07-04 19:02] daita commented on #268
thanks for those links. I will fix the issue with pleroma, however `GNU social`, used on status.fsf.org, appears to not being compatible with ActivityPub

[2019-07-04 21:47] vasyugan commented on #268
Some Mastodon instances seem to work now, some GNUsocial instances still
don't, for instance I tried to subscribe to @rms@gnusocial.no, which works
from a real Mastodon account but fails from Nextcloud social

Alice Ferrazzi <notifications@github.com> schrieb am Do., 4. Juli 2019,
20:45:

[2019-07-05 02:15] shtrom commented on #268
Following Mastodon instances seems to work, but I have the same issue as reported above with status.fsf.org, as well as a Twitter mirror I cannot recall the URL of (I'll try to find it).

I also don't seem to be able to reply to message from their Mastodon host:
* https://mastodon.host/interact/101838609146605306?type=reply
* leads me to a 404: `The requested URL /apps/social/ostatus/follow/https:

[2019-07-08 08:58] rhaamo commented on #183
@daita I can't find any traces of Nodeinfo in nextcloud/social or nextcloud/server, is there another PR to implement nodeinfo itself ?

[2019-07-08 11:37] daita commented on #183
not yet, just implementing the redirection/rewrite on the server right now.

[2019-07-08 14:01] sunjam commented on #186
I was wondering about adding ActivityPub/Mastodon/Social users to a Nextcloud circle.  Currently users can be added via their email address.

[2019-07-08 16:10] Rixon-gh opened #615 "Some clarification needed before this title can be appropriate"
**Describe the bug**
I have a redirect from mydomain.tld to cloud.mydomain.tld. Social was installed while it still thought the base was 127.0.0.1, so I did a bit of reading here and found out about `occ social:reset` and used it to change to cloud.mydomain.tld.

I clicked to follow `@nextcloud@mastodon.xyz`, and then it dawned on me that I could use the redirect already in place to have a nicer h

[2019-07-08 16:11] Rixon-gh commented on #615
Will edit title when I know if it's the redirect or the 'forgot-to-unfollow-before-changing-base-and-following-again'

[2019-07-08 18:36] daita opened #617 "Like Button"
The feature exists on the back-end, it just needs a implementation on the front-end, and should works like the 'Boost' button:

#616: /api/v1/post/like

POST request with postId to generate a Like on a Post
DELETE request with postId to remove a Like on a Post

[2019-07-09 12:28] StCyr commented on #434
so, it's not that easy eventualy :-)

The thing is, nextcloud uses https://github.com/Akryum/v-tooltip for its tooltip framework. And, it doesn't seem to be designed to work with a popover menu.

So, the solution will probably be some kind of hack... :-(

IMHO, better solutions could be:

1. Removing the tooltip altogether;
2. Remove the popover menu and put its content in the tooltip directly;
3.

[2019-07-09 13:02] daita commented on #434
@skjnldsv @juliushaertl @violoncelloCH what do you think ? do you have already encountered the same issue with Akryum/v-tooltip in some other place ?

[2019-07-09 14:15] skjnldsv commented on #434
I really don't get the issue can we have screenshots? :)

[2019-07-09 14:19] daita commented on #434
![](https://giant.gfycat.com/AlarmedAngelicChanticleer.gif)

[2019-07-09 14:23] skjnldsv commented on #434
Okay, I see you're not using the Actions menu.
It should be fixed once you migrate to this :)

Or you can just use the open variable to make sure not to give a string to the v-tooltip directive like `v-tooltip.bottom="open ? '' : t('social', 'More actions')"`

[2019-07-09 16:44] StCyr commented on #434
Cool!

Thanks, I’ll try that :-)

[2019-07-10 16:16] #434 closed

[2019-07-11 10:38] StCyr commented on #230
Hello,

The first thing is to get the back-end to provide the front-end with the url of the images to display.

I've investigated the matter and have a question:

In StreamRequest.php, all getTimeline* functions call parseStreamSelectSql to create an array of objects from the data fetched from the DB.

This parseStreamSelectSql function creates an object of type 'Stream' and initalize its properti

[2019-07-11 13:20] StCyr commented on #230
Indeed, front-end gets the attachment when parserStreamSelectSql is called with $as = Note::TYPE:

[code]

![Capture d’écran 2019-07-11 à 15 09 33](https://user-images.githubusercontent.com/8179031/61053791-862ab300-a3ee-11e9-9f0f-6c7a4be328ed.png)

Can someone a bit knowledgeable assess this proposal?